﻿@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");

h1:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Mulish";
    min-height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

ol,
li {
    list-style: none;
}

.debug {
    outline: 0.5rem dashed peru;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

.admin-sidenav {
    background-color: #363740;
    width: 250px;
    position: fixed;
    inset: 0;
    /*padding: 3.2rem;*/
    color: #A4A6B3;
}

.sidenav-logo {
    padding: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.d-logo {
    width: 4rem;
    height: 4rem;
    background-color: #3751FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav-logo:hover {
    color: white;
    transition: .3s;
    cursor: pointer;
}


.logo-center {
    color: white;
}

.sidenav-item {
    display: flex;
    align-items: center;
    padding: 1.8rem 3.2rem;
    gap: 2.4rem;
}


.sidenav-item:hover {
    color: white !important;
    transition: .3s;
    cursor: pointer;
}


.sidenav-item.active {
    color: #DDE2FF !important;
    background-color: #dde2ff10;
    border-left: 4px solid #dde2ffc7;
    filter: blur(0.3px);
    -webkit-filter: blur(0.3px);
}

.admin-main-contain {
    margin-left: 250px;
    background-color: #F7F8FC;
    padding: 3.2rem;
}

.admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}

.header-icon-bar {
    display: flex;
    gap: 4rem;
}

.bar-icon {
    border-right: 2px solid gray;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding-right: 4rem;
    color: gray;
}


.bar-user {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.bar-user-avatar {
    background-color: rgba(128, 128, 128, 0.651);
    padding: .1rem;
    border-radius: 50%;
    color: white;
}

.user-avatar-line {
    border-radius: 50%;
    border: .3rem solid white;
    padding: .6rem;
    font-size: large;
}

.admin-body {
}


.top-overview {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.item-overview {
    width: 100%;
    padding: 24px 32px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}

.overview-title {
    text-align: center;
    color: #9FA2B4;
    font-size: 2rem;
    font-weight: bold;
}

.overview-number {
    text-align: center;
    color: #252733;
    font-weight: bold;
    font-size: 4rem;
}

.item-overview:hover {
    border: 1px solid #3751FF;
}

.item-overview:hover > .overview-title,
.item-overview:hover > .overview-number {
    color: #3751FF;
    transition: .3s;
    cursor: pointer;
}


.bot-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.bot-table {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}

.bot-table-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 32px;
    border-bottom: 1px solid #DFE0EB;
    font-weight: 700;
}

    .bot-table-row:last-child {
        border: 0;
    }

    .bot-table-row > .left-side {
    }

.left-side-style-1 {
    color: #252733;
}

.left-side-style-2 {
    color: #9D3B10;
}

.right-side-style-1 {
    color: #3751FF
}

.left-table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 32px 16px 32px;
}

.bot-table-title {
    color: #252733;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px
}

.bot-table-sub-title {
    font-size: 1.2rem;
    color: #9FA2B4;
    font-weight: 600;
}

.trafic-overview {
    display: flex;
    background-color: #ffffff;
    margin: 30px 0px;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}

.trafic-overview > .chart-area {
    flex-grow: 1;
    padding: 32px;
}

.trafic-overview > .number-area {
    width: 33.33333%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 342px;
}

.number-area > .item-number {
    width: 100%;
    padding: 24px 32px;
    border-left: 1px solid #DFE0EB;
    border-bottom: 1px solid #DFE0EB;
    height: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 32px 32px 24px 32px;
    transition: 0.4s;
}

    .number-area > .item-number:last-child {
        border-bottom: 0;
    }

.item-number:hover {
    background: #aaaaaa10;
}

.number-title {
    color: #9FA2B4;
    font-weight: 600;
    font-size: 1.6rem;
}

.number {
    color: #252733;
    font-weight: 700;
    font-size: 2.4rem;
    text-align: center;
}

.table-overview {
    background-color: #ffffff;
    margin: 30px 0px;
    border-radius: 8px;
    border: 1px solid #DFE0EB;
}

    .table-overview > .table-overview-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 32px 48px 32px;
    }

.table-title {
    font-weight: 700;
    color: #252733;
    font-size: 20px;
}

.table-icon {
    font-size: 1.4rem;
    color: #4B506D;
}

.overview-table {
    width: 100%;
    border-collapse: collapse;
    border: 0;
}

    .overview-table > thead td {
        color: #9FA2B4;
        font-size: 1.4rem;
        font-weight: 700;
        padding: 0px 31px 12px 31px;
    }

    .overview-table > tbody td {
        padding: 26px 31px;
    }

    .overview-table tr {
        border-bottom: 1px solid #DFE0EB;
        transition: .3s;
    }

    .overview-table > tbody > tr:hover {
        background: #dde2ff22;
    }

.table-overview-footer {
    color: #9FA2B4;
    font-size: 1.4rem;
    padding: 24px;
}

.left-right-btn {
    display: flex;
    gap: 12px;
}

.card-container {
    display: flex;
    gap: 2.4rem;
}

.card-name {
    color: #252733;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2rem;
}

.card-name > a {
    transition: 0;
}

    .card-name > a:hover {
        font-weight: bold;
    }
        .card-desc {
            color: #C5C7CD;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.6rem;
        }

.card-image-container {
}

.card-image {
    width: 4.4rem;
    height: 4.4rem;
    object-fit: cover;
    border-radius: 1rem;
}

.card-avatar {
    border-radius: 50%;
}

.status-pill {
    font-weight: bold;
    font-size: 1.1rem;
    color: #FFFFFF;
    padding: 5px 12px;
    border-radius: 20px;
    text-align: center;
    width: 90px;
    transition: 0.5s;
}

.status-normal {
    background-color: #29CC97;
}

    .status-normal::after {
        content: "NORMAL";
    }

.status-cautios {
    background-color: #FEC400;
}

.status-cautios::after {
    content: "CAUTIOS";
}

.status-ban {
    background-color: #F12B2C;
}

.status-ban::after {
    content: "BAN";
}

.status-medium {
    background-color: #FEC400;
}

.status-medium::after {
    content: "MEDIUM";
}

.status-high {
    background-color: #F12B2C;
}

.status-high::after {
    content: "HIGH";
}

.list {
    position: relative;
}

.list > .toggler {
    display: inline-block;
    min-width: .75rem;
    text-align: center;
    color: #C5C7CD;
    font-size: 2.4rem;
}

.list > .list-data {
    position: absolute;
    top: 100%;
    left: calc(-15rem + 2rem);
    min-width: 15rem;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .5rem;
    transition: .2s;
    transform: scale(0);
    transform-origin: top right;
    z-index: 5;
}

.list:focus-within > .list-data {
    transform: scale(1);
}

.list-data .list-item {
    padding: 1rem;
    transition: .3s;
}

.list-data .list-item:hover {
    background: #aaaaaa13;
}