﻿:root {
    --nav-width: 170px;
    --header-height: 60px;
}

.navbar {
    width: var(--nav-width);
    height: 100%;
    background-color: #333;
    position: fixed;
    inset: 0;
    font-size: 1.3rem;
    color: white;
}

.nav-section + .nav-section {
    border-top: 1px solid rgb(255, 255, 255, 0.5);
    padding: 1rem;
    margin: 0 5%;
}

.nav-title {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding: 1rem;
}

    .nav-title:visited {
        color: white;
    }

    .nav-title:hover {
        color: #f46530;
        cursor: pointer;
    }

    .nav-title > img {
        max-width: 20px;
    }

    .nav-title > span {
        font-size: 2rem;
    }

.nav-section > .item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1.5rem;
    padding: 0.8rem;
}

    .nav-section > .item:hover {
        color: #f46530;
        cursor: pointer;
    }

.header {
    font-size: 1.3rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding: 0 40px;
    background: #16151a;
    position: fixed;
    inset: 0;
    margin-left: var(--nav-width);
    z-index: 10;
}

.search {
    position: relative;
    width: 500px;
}

    .search .suggest-list {
        position: absolute;
        overflow: auto;
        width: 100%;
        height: auto;
        min-height: 0;
        max-height: 200px;
        background-color: rgb(34, 34, 39);
        z-index: 10;
        display: block;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: 0 4px 6px 0 rgb(32 33 36 / 28%);
        padding: 13px 10px;
    }

        .search .suggest-list .suggest-list-content .search-title {
            font-weight: 700;
            padding: 0 10px 8px;
            display: flex;
            justify-content: space-between;
        }

        .search .suggest-list .suggest-item {
            display: flex;
            align-items: baseline;
            border-radius: 4px;
            padding: 8px 10px;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
        }

            .search .suggest-list .suggest-item .suggest-item-icon {
                color: white;
                top: 3px;
                margin-right: 10px;
            }

            .search .suggest-list .suggest-item .suggest-item-name {
                overflow: hidden;
                text-overflow: ellipsis;
            }

.suggest-list .suggestion {
    border-top: 1px solid white;
    margin-top: 10px;
    padding-top: 10px;
}

    .suggest-list .suggestion .suggest-item {
        padding: 5px 10px;
    }

        .suggest-list .suggestion .suggest-item:hover {
            background-color: var(--background);
        }

        .suggest-list .suggestion .suggest-item .suggest-media {
            align-items: center;
            display: flex;
            text-align: left;
            padding: 0;
            flex: 1 1;
            border-radius: 5px;
        }

            .suggest-list .suggestion .suggest-item .suggest-media .suggest-media-left {
                margin-right: 10px;
                position: relative;
            }

                .suggest-list .suggestion .suggest-item .suggest-media .suggest-media-left .suggest-media-icon {
                    position: absolute;
                    top: 39%;
                    left: 42%;
                    z-index: 11;
                    color: white;
                    visibility: hidden;
                }

        .suggest-list .suggestion .suggest-item:hover .suggest-media .suggest-media-left .suggest-media-icon {
            visibility: visible;
        }

        .suggest-list .suggestion .suggest-item .suggest-media .suggest-media-left .suggest-media-img {
            width: 50px;
            height: 50px;
            -o-object-fit: cover;
            object-fit: cover;
            border-radius: 4px;
        }

        .suggest-list .suggestion .suggest-item:hover .suggest-media .suggest-media-left .suggest-media-img {
            opacity: 0.7;
        }

        .suggest-list .suggestion .suggest-item .suggest-media .suggest-media-right {
            flex-basis: auto;
            flex-grow: 1;
            flex-shrink: 1;
            text-align: left;
            align-self: center;
            width: 0;
        }

            .suggest-list .suggestion .suggest-item .suggest-media .suggest-media-right .suggest-media-title {
                margin: 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
                line-height: normal;
            }

            .suggest-list .suggestion .suggest-item .suggest-media .suggest-media-right .suggest-media-subtitle {
                margin: 0;
                display: block;
                font-weight: lighter;
                opacity: 0.8;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                max-width: 100%;
                line-height: normal;
            }

.search-box {
    position: relative;
    max-width: 500px;
    width: 500px;
    height: 40px;
    border-radius: 8px;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

    .search-box .search-input {
        width: 100%;
        height: 100%;
        padding: 5px 50px 5px 10px;
        background: #222227;
        color: #fff;
        font-size: 1.3rem;
    }

    .search-box .search-icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
    }

        .search-box .search-icon:hover {
            cursor: pointer;
            opacity: 0.8;
        }

.account .avatar,
.account .sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.account .account-title {
    font-size: 1.3rem;
}

.account .avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
}

    .account .avatar-img:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.account .sign-in i {
    font-size: 16px;
}

    .account .sign-in i:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.account .avatar-subnav {
    position: relative;
}

.account .subnav-list {
    position: absolute;
    top: 140%;
    right: 0;
    width: 0px;
    opacity: 0;
    transform: scale(0);
    transform-origin: calc(100% - 15px) top;
    transition: all 0.3s;
}

.account .avatar-subnav:hover .subnav-list {
    width: 150px;
    opacity: 1;
    transform: scale(1);
}

.account .subnav-list:before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #222227;
    position: absolute;
    top: -5px;
    right: 15px;
}

.account .subnav-list:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    top: -35px;
    right: 0;
    cursor: pointer;
}

.account .subnav-list .subnav-list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
    background-color: #222227dd;
}

    .account .subnav-list .subnav-list-item:hover {
        cursor: pointer;
        background-color: #222227ff;
    }

.main-content {
    margin-left: var(--nav-width);
    margin-top: var(--header-height);
    font-size: 1.3rem;
    background-color: var(--background);
}

.footer {
    color: white;
    background: #26272b;
    padding: 20px 100px 0;
    margin-left: var(--nav-width);
    margin-top: 50px;
    font-size: 1.3rem;
}

    .footer a {
        text-decoration: none;
    }

        .footer a:visited {
            color: white;
        }

        .footer a:hover {
            color: #f46530;
        }

.footer-main {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

    .footer-main .about {
        flex: 1;
    }

    .footer-main .footer-title {
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .footer-main .footer-content,
    .footer-main .footer-content h2 {
        color: #999;
        line-height: 24px;
        margin-top: 10px;
        font-weight: 300;
    }

        .footer-main .footer-content h2 {
            margin-top: 4px;
        }

.footer-others {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
    border-top: 1px solid #fff;
}

    .footer-others .footer-links {
        display: flex;
        gap: 10px;
    }

.footer-links-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #33353d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .footer-links-icon:hover {
        background: #29aafe;
    }

.media-player {
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0 20px;
    background: #282828;
    transition: all 0.7s;
    z-index: 10;
}

.media {
    display: flex;
}

    .media:hover {
        cursor: pointer;
        opacity: 0.8;
    }

    .media .media-thumbnail {
        width: 64px;
        height: 64px;
        -o-object-fit: cover;
        object-fit: cover;
        border-radius: 4px;
    }

    .media .media-content {
        margin-top: 20px;
        padding-left: 10px;
    }

    .media .media-content-title {
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 4px;
    }

    .media .media-content-author {
        font-size: 14px;
        font-weight: 300;
        color: #999;
    }

.media-queue {
    position: fixed;
    top: 0;
    bottom: 90px;
    right: 0;
    width: 350px;
    background: var(--lightGray);
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    transform: translateX(100%);
    z-index: 999;
}

    .media-queue .queue-close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
    }

        .media-queue .queue-close-btn:hover {
            cursor: pointer;
            opacity: 0.8;
            color: #ff1f1f;
        }

    .media-queue .queue-title {
        text-align: center;
        font-size: 20px;
        margin: 30px 0;
    }

    .media-queue .list-song {
        flex: 1;
        max-height: 778px;
        overflow: auto;
        border-top: 1px solid var(--lightWhite);
        border-bottom: 1px solid var(--lightWhite);
    }

        .media-queue .list-song::-webkit-scrollbar {
            display: none;
        }

    .media-queue .song-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        gap: 20px;
    }

        .media-queue .song-item:hover {
            background-color: #4d518b;
        }

        .media-queue .song-item.active {
            background-color: #363963;
        }

.media-queue .song-img {
    width: 60px;
    height: 60px;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 4px;
}

.song-item .song-img:hover {
    cursor: pointer;
}

.media-queue .song-item-content {
    flex: 1;
}

    .media-queue .song-item-content .title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 4px;
    }

    .media-queue .song-item-content .author {
        font-size: 14px;
        font-weight: 300;
        color: #999;
    }

.media-queue .song-item-tool {
    font-size: 20px;
}

    .media-queue .song-item-tool i {
        margin: 0 4px;
    }

        .media-queue .song-item-tool i:hover {
            cursor: pointer;
            opacity: 0.8;
        }

.media-queue .queue-btns {
    display: flex;
    margin: 28px 0;
    justify-content: space-around;
}

.player-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

    .player-control .player-control-btns {
        width: 600px;
        height: 30px;
        display: flex;
        justify-content: center;
        gap: 36px;
        margin-bottom: 12px;
    }

.player-control-btns > i {
    font-size: 20px;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    transition: .1s;
}

    .player-control-btns > i:hover {
        cursor: pointer;
        outline: 1px solid #f46530dd;
        box-shadow: 0px 0px 5px 2px rgba(244,101,48,0.6);
    }

.player-control-btns > .toggle.active {
    background-color: #f46530cc;
    color: #16151a;
}

.player-control-btns > i.disable,
.player-control-btns > i.disable:hover {
    outline: none;
    opacity: 0.5;
    box-shadow: none;
    background-color: transparent;
    cursor: default;
}

.player-control .progress-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.3rem;
}

.player-control .progress-song-input {
    flex: 1;
}

.player-control-volume {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
    font-size: 2rem;
}

    .player-control-volume > i {
        width: 20px;
    }

.toggle-media-player-container {
    font-size: 30px;
    margin-left: 20px;
}

.toggle-media-player:hover {
    cursor: pointer;
    opacity: 0.8;
    color: #0075ff;
}

.media-player-narrow {
    transform: translateY(50%);
}

.input-range {
    -webkit-appearance: none;
    appearance: none;
    background: #333;
    cursor: pointer;
    border-radius: 30px;
    height: .5rem;
    transition: height .1s;
}

#player-control-volume {
    background: #f46530;
}

.input-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    outline: 0px solid #f46530;
    border-radius: 50%;
    background: white;
    transition: height .1s, width .1s, outline .1s;
}

.input-range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    outline: 0px solid #f46530;
    border-radius: 50%;
    background: white;
    transition: height .1s, width .1s, outline .1s;
}

.input-range:hover {
    height: .7rem;
}

    .input-range:hover::-webkit-slider-thumb {
        width: 1.25rem;
        height: 1.25rem;
        outline-width: 3px;
    }

    .input-range:hover::-moz-range-thumb {
        width: 1.25rem;
        height: 1.25rem;
        outline-width: 3px;
    }

#mp3-mute:hover {
    cursor: pointer;
}

#audio-visual-container {
    position: fixed;
    width: 250px;
    height: 250px;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#audio-visual-canvas {
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
