* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.01);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.11);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

input[type=file] {
  display: none;
}

body {
  /* font-family: ; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
  /* max-width: 1920px; */
  /* margin: 0 auto; */
}

input,
button,
textarea,
select {
  /* font-family: ; */
  font-size: 14px;
  outline: none;
  border: 0;
  box-sizing: border-box;
  /*khang*/
  resize: none;
  font-family: inherit;
}

textarea {
  caret-color: #ffffff;
}

input {
  line-height: normal;
}

input[type=range] {
  cursor: pointer;
}

::-moz-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1;
  /* Firefox */
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

section[id] {
  scroll-margin-top: 30px;
}

/* 
.second-font {
    font-family: $secondary-font;
} */
/* ======= Buttons ======== */
/* Block */
.btn {
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 5px 16px;
  border-radius: 6px;
  cursor: pointer;
  min-width: 50px;
  width: 100%;
  transition: opacity 0.2s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border: 1px solid rgba(240, 246, 252, 0.1);
}

/* Modifier */
.btn--size-l {
  padding: 16px 56px;
}

.btn--size-s {
  padding: 4px 16px;
  width: 120px;
}

.btn:hover {
  opacity: 0.8;
}

.btn + .btn {
  margin-left: 16px;
}

.btn--primary {
  background-color: #2ec8e6;
}

.btn--disabled,
.btn[disabled] {
  opacity: 0.5 !important;
  pointer-events: none;
}

.mt-4 {
  margin-top: 4px;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes growth {
  from {
    transform: scale(var(--growth-form));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
@keyframes growth {
  from {
    transform: scale(var(--growth-form));
  }
  to {
    transform: scale(var(--growth-to));
  }
}
/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  -webkit-animation: fadeIn linear 0.1s;
          animation: fadeIn linear 0.1s;
  z-index: 999;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.modal__body {
  --growth-from: 0.7;
  --growth-to: 1;
  margin: auto;
  position: relative;
  z-index: 1;
  -webkit-animation: growth linear 0.1s;
          animation: growth linear 0.1s;
}