﻿@using Microsoft.AspNetCore.Components.Web
@namespace MUZIC.App.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="Server" />

    <link href="https://kit-pro.fontawesome.com/releases/v5.15.4/css/pro.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/common/variables.css" />
    <link rel="stylesheet" href="/css/common/reset.css" />
    <link rel="stylesheet" href="/css/common/common.css" />
    <link rel="stylesheet" href="/css/layout/user.css" />
    <link rel="stylesheet" href="/css/user/song.css" />
    <link rel="stylesheet" href="/css/user/playlist.css" />
    <link rel="stylesheet" href="/css/user/recommend.css" />
    <link rel="stylesheet" href="/css/user/profile/Profile.css" />
    <link rel="stylesheet" href="/css/user/home.css" />
    <link rel="stylesheet" href="/css/user/ranking.css" />
     <link rel="icon" type="image/x-icon" href="/img/favicon.jpg">
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui" style="display: none">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @await Html.PartialAsync("~/Component/User/Common/Mp3Player.cshtml")

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="_framework/blazor.server.js"></script>
    
    <script src="/js/mediaPlayer.js"></script>
    <script src="/js/recommend.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/user/ranking.js"></script>
</body>
</html>
