﻿@page "/"
@layout UserLayout
@using MUZIC.Model;
@using MUZIC.App.Component.User.Home;
@inject IJSRuntime JS

<PageTitle>MP3 MUZIC APP</PageTitle>

<BannerSlide />
<CascadingValue Name="listPlaylist" Value=@this>
    <PlaylistSlideComponent Playlists=@Playlists Text="New playlist" SlideNumber=1 />
</CascadingValue>

<div class="most-popular-container">
    <p class="most-title">MOST POPULAR THIS WEEK</p>
    <p class="most-para">Checkout What’s new at our Muzic</p>

    <div class="tab">
        @if (Genre is not null)
        {
            @for (var i = 0; i < Genre.Count; i++)
            {
                if (i == 0)
                {
                    <button class="tablinks" onclick="openTab(event, '@Genre[i]')" id="defaultClick">@Genre[i]</button>
                }
                else
                {
                    <button class="tablinks" onclick="openTab(event, '@Genre[i]')">@Genre[i]</button>
                }
            }
        }
        else
        {
            <button class="tablinks" onclick="openTab(event, 'No data')">No data</button>
        }

    </div>
    <div class="most-list-song">
        @if (Genre is not null)
        {
            <CascadingValue Name="TabSong" Value=@this>
                @for (var i = 0; i < Genre.Count; i++)
            {
                <TabSong Genre=@Genre[i] Songs=@GenreSongs[i] />
            }
        </CascadingValue>

        }
        else
        {
            <div><p>No data</p></div>
        }

    </div>
</div>
<CascadingValue Name="listSong" Value=@this>
    <SongSlideComponent Index=@Playlists!.Count Songs=@Songs Text="Recommend" SlideNumber=2 OnClose=@ChangeState/>
</CascadingValue>


@code {

    private List<Song>? Songs { get; set; } = new List<Song>();
    private List<List<Song>?> GenreSongs { get; set; } = new List<List<Song>?>();
    private List<Playlist>? Playlists { get; set; } = new List<Playlist>();
    private List<string>? Genre { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await LoadTopSongs();

        await LoadTopPlaylists();

        await LoadTopGenres();
    }
    private async Task LoadTopSongs()
    {
        Songs = await SongService.GetTop(10);
    }
    private async Task LoadTopPlaylists()
    {
        Playlists = await PlaylistService.GetTop(10);
    }
    private async Task LoadTopGenres()
    {
        Genre = await SongService.GetGenre(3);
        if (Genre is not null)
        {
            for (var i = 0; i < Genre.Count; i++)
            {
                GenreSongs.Add(await SongService.GetTopGenre(8, Genre[i]));
            }
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        JS.InvokeVoidAsync("showSlides", 1);
        if (Playlists is not null && Songs is not null && Playlists.Count == 10 && Songs.Count == 10)
        {
            JS.InvokeVoidAsync("defaultOpenSlide");
        }
        JS.InvokeVoidAsync("defaultClick");
    }

    public void ChangeState()
    {
        StateHasChanged();
    }
}
