﻿@page "/playlist/{id:int?}"
@using MUZIC.App.Component.User.Home
@layout UserLayout
@inject State state
@inject Mp3 mp3

<PageTitle>Playlist</PageTitle>
@if (Playlist is not null)
{
    @if (Playlist.IsPublic || (state.Account is not null && (state.Account.Username == Playlist.Username || state.Account.IsAdmin)))
    {
        <div class="playlist">
            <section class="playlist-section">
                <h2 class="title">Playlist: @Playlist.Title</h2>
                <div class="playlist-main">
                    <div class="playlist-thumbnail">
                        <div class="playlist-thumbnail-img">
                            <img src="@Playlist.Thumbnail"
                         alt="playlist thumbnail"
                         class="playlist-img" />
                            <div class="btn-play-playlist">
                                <i @onclick="SwitchActivePopup" class="fal fa-play-circle fa-4x"></i>
                            </div>
                            @if (PopUp)
                            {
                                <PlayPopupPlaylist Playlist=@Playlist OnClose=@SwitchActivePopup IconSize="fa-1x" />
                            }
                        </div>
                        <div class="playlist-views">
                            <p class="playlist-views-item">
                                <i class="fal fa-music"></i><span>@Songs.Count tracks</span>
                            </p>
                            <p class="playlist-views-item">
                                <i class="fal fa-headphones"></i>
                                <span>@PlaylistView</span>
                            </p>
                        </div>
                        <button @onclick="ToggleFavorite" class="btn @btnFavorite btn-add-favorite">
                            @textFavorite
                        </button>
                    </div>
                    <ul class="playlist-songs">
                        <CascadingValue Name="playlistPage" Value=@this>
                            @foreach (var (index, song) in Songs.Select((song, index) => (index + 1, song)))
                            {
                                <SongItem Index=index Song=song />
                            }
                        </CascadingValue>
                    </ul>
                </div>
            </section>
            <section class="playlist-section">
                <h2 class="title">About New Album</h2>
                <div class="playlist-info">
                    <p><span>Creator: </span>@Playlist.Username</p>
                    <p>
                        <span>Description: </span>@Playlist.Description
                    </p>
                    <p><span>Release: </span>@Playlist.Date</p>
                    <p><span>Duration: </span>@FavoriteService.PlaylistDuration(Songs)</p>
                </div>
            </section>
            <section class="playlist-section">
                <h2 class="title">Others Playlist</h2>
                <ul class="other-playlist">
                    @foreach (var playlist in Playlists!)
                    {
                        <li class="other-playlist-item">
                            <i class="fal fa-list-music"></i>
                            <p class="other-playlist-item-title">
                                <a href="/playlist/@playlist.Id">@playlist.Title</a>
                            </p>
                        </li>
                    }
                </ul>
            </section>
            <CascadingValue Name="listPlaylist" Value=@this>
                <PlaylistSlideComponent Playlists=@Playlists Text="Recommend playlist" OneSlide=true />
            </CascadingValue>
        </div>
    }
    else
    {
        <h2 class="playlist-not-found">You can not access the playlist! </h2>
    }
}
else
{
    <h2 class="playlist-not-found">Can not found the playlist!</h2>
}


@code {
    [Parameter]
    public int Id { get; set; } = -1;

    private Playlist? Playlist { get; set; } = null;
    private List<Song>? Songs { get; set; } = new List<Song>();
    private int PlaylistView { get; set; } = 0;

    // Recommend
    private List<Playlist>? Playlists { get; set; } = new List<Playlist>();

    public string btnFavorite { get; set; } = "";
    public string textFavorite { get; set; } = "Add Favorite";
    public bool IsFavorite = false;

    public bool PopUp = false;

    public void LoadNew()
    {
        StateHasChanged();
    }

    public void SwitchActivePopup()
    {
        PopUp ^= true;
    }

    public void SetViewFavorite()
    {
        btnFavorite = IsFavorite ? "btn--secondary" : "";
        textFavorite = IsFavorite ? "Remove Favorite" : "Add Favorite";
    }

    public async Task ToggleFavorite()
    {
        if (state.Account is not null)
        {
            if (IsFavorite)
            {
                IsFavorite = await FavoriteService.disablePlaylist(state.Account.Username, Playlist!.Id);
            }
            else
            {
                IsFavorite = await FavoriteService.enablePlaylist(state.Account.Username, Playlist!.Id);
            }
            SetViewFavorite();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            await LoadPlaylist();
            if (Playlist is not null)
            {
                await LoadSongs();
                PlaylistView = await TrackingService.GetPlaylistViewCount(Playlist.Id);
            }
            await LoadTopPlaylists();
            if (state.Account is not null)
            {
                IsFavorite = await GetFavorite();
                SetViewFavorite();
                await TrackingService.AddPlaylistViewCount(state.Account.Username, Playlist!.Id);
            }
            else
            {
                await TrackingService.AddPlaylistViewCount("anonymous", Playlist!.Id);
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadPlaylist();
        if (Playlist is not null)
        {
            await LoadSongs();
            if (state.Account is not null)
            {
                IsFavorite = await GetFavorite();
                SetViewFavorite();
            }
        }
        await LoadTopPlaylists();
        await base.OnParametersSetAsync();
    }

    private async Task<bool> GetFavorite()
    {
        return await FavoriteService.IsPlaylistFavorite(state.Account!.Username, Playlist!.Id);
    }


    private async Task LoadPlaylist()
    {
        Playlist = await PlaylistService.GetPlaylist(Id);
    }

    private async Task LoadSongs()
    {
        Songs = await PlaylistService.GetSongs(Playlist!.Id);
    }

    // Recommend
    private async Task LoadTopPlaylists()
    {
        Playlists = await PlaylistService.GetTop(10);
    }
}
