﻿@page "/search"
@layout UserLayout
@inject IJSRuntime JS
@using MUZIC.App.Component.User.Home;

<PageTitle>Search</PageTitle>

<div class="most-popular-container">

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'SongSearch')" id="defaultClick">The Song</button>
        <button class="tablinks" onclick="openTab(event, 'PlaylistSearch')">Playlist</button>
        <button class="tablinks" onclick="openTab(event, 'LyricSearch')">Lyric</button>
        <button class="tablinks" onclick="openTab(event, 'SingerSearch')">Singer</button>
    </div>
    <div class="search-text-bestmatch">Best matches:</div>
    <div class="most-list-song">
        @if (Songs is not null)
        {
            <CascadingValue Name="TabSong" Value=@this>
                <TabSong Genre="SongSearch" Songs=Songs />
            </CascadingValue>
        }
        else
        {
            <div id="SongSearch" class="tabcontent">
                <div class="row">
                    <p>No songs were found containing the keyword "@query"</p>
                </div>
            </div>
        }

        <div id="PlaylistSearch" class="tabcontent">
            <div class="slide-container">
                <div class="row">

                    @if (Playlists is not null)
                    {
                        @foreach (var playlist in Playlists)
                        {
                            <CascadingValue Name="AddPlaylists" Value=@this>
                                <PlaylistSlideComponentPlaylist Playlist=playlist />
                            </CascadingValue>
                        }
                    }
                    else
                    {
                        <p>No playlists were found containing the keyword "@query"</p>
                    }

                </div>
            </div>
        </div>

        @if (LyricSongs is not null)
        {
            <CascadingValue Name="TabSong" Value=@this>
                <TabSong Genre="LyricSearch" Songs=LyricSongs SearchState=true />
            </CascadingValue>
        }
        else
        {
            <div id="LyricSearch" class="tabcontent">
                <div class="row">
                    <p>No lyrics were found containing the keyword "@query" ......</p>
                </div>
            </div>
        }

        <div id="SingerSearch" class="tabcontent">

            @if (SingerSongs is not null)
            {
                @for (int ix = 0; ix < @SingerSongs.Count; ix++)
                {
                    @if ((ix + 2) % 2 == 0)
                    {
                        <div class="song-item">
                            <img src="@SingerSongs[ix].Thumbnail" alt="" class="song-img" />
                            <div class="song-item-content">
                                <h2 class="author-title">@SingerSongs[ix].Artist</h2>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="song-item song-item-even">
                            <img src="@SingerSongs[ix].Thumbnail" alt="" class="song-img" />
                            <div class="song-item-content">
                                <h2 class="author-title">@SingerSongs[ix].Artist</h2>
                            </div>
                        </div>
                    }
                }
            }
            else
            {
                <div><p>No singer were found containing the keyword "@query" ......</p></div>
            }

        </div>
    </div>
</div>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public string? query { get; set; }

    private List<Song>? Songs { get; set; } = new List<Song>();
    private List<Song>? LyricSongs { get; set; } = new List<Song>();
    private List<Song>? SingerSongs { get; set; } = new List<Song>();
    private List<Playlist>? Playlists { get; set; } = new List<Playlist>();

    private async Task LoadSongs()
    {
        if (query is not null)
        {
            Songs = await SongService.GetTitle(query);
        }
    }
    private async Task LoadPlaylists()
    {
        if (query is not null)
        {
            Playlists = await PlaylistService.GetTitle(query);
        }
    }

    private async Task LoadLyricSongs()
    {
        if (query is not null)
        {
            LyricSongs = await SongService.GetLyric(query);
        }
    }
    private async Task LoadSingerSongs()
    {
        if (query is not null)
        {
            SingerSongs = await SongService.GetSinger(query);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await LoadPlaylists();
        await LoadSongs();
        await LoadLyricSongs();
        await LoadSingerSongs();
        await base.OnParametersSetAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            JS.InvokeVoidAsync("defaultClick");
        }
    }
}