﻿@page "/song/{id:int?}"
@using MUZIC.App.Component.User.Home
@layout UserLayout
@inject State state

<PageTitle>Song</PageTitle>

@if (Song is not null)
{
    @if (Song.Status == 1 && (state.Account is null || !state.Account.IsAdmin))
    {
        <h2 class="song-error">The song is banned! </h2>
    }
    else if (Song.IsPublic || (state.Account is not null && (state.Account.Username == Song.Username || state.Account.IsAdmin)))
    {
        <div class="song">
            <div class="song-header">
                <div class="song-background-img" style="background: url(@Song.Cover) top center / cover no-repeat;"></div>
                <div class="song-header-content">
                    <img src="@Song.Thumbnail"
                 alt=""
                 class="song-img" />
                    <div class="song-content">
                        <h1 class="song-title">
                            @Song.Title
                        </h1>
                        <h2 class="song-singer">@Song.Artist</h2>
                        <ul class="song-btns">
                            <li class="song-btns-item">
                                <i @onclick="SwitchActivePopup" class="fal fa-play"></i>
                                @if (PopUp)
                                {
                                    <PlayPopupSong Song=@Song OnClose=@SwitchActivePopup IconSize="fa-1x" />
                                }
                            </li>
                            <li @onclick="ToggleFavorite" class="song-btns-item">
                                <i class="@favoriteIcon fa-heart"></i>
                            </li>
                            <li class="song-btns-item">
                                <i @onclick="SwitchActivePlaylistPopup" class="fal fa-list-music"></i>
                                @if (@AddToPlaylistPopup)
                                {
                                    <AddToPlaylistPopup Song=@Song OnClose=@SwitchActivePlaylistPopup IconSize="fa-1x" />
                                }
                            </li>
                        </ul>
                        <p class="song-view">
                            <i class="fal fa-headphones"></i>
                            <span>@SongView</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="song-main">
                <div class="song-wrapper">
                    <section class="song-main-content">
                        <h2 class="title">About this song</h2>
                        <div class="song-main-text">
                            <p><span>Creator: </span>@Song.Username</p>
                            <p><span>Genre: </span>@Song.Genre</p>
                            <p>
                                <span>Description: </span>@Song.Description
                            </p>
                            <p><span>Duration: </span>@FavoriteService.SongDuration(Song.Duration)</p>
                            <p><span>Release: </span>@Song.Date</p>
                        </div>
                    </section>
                    <section class="song-main-content">
                        <h2 class="title">Lyrics</h2>
                        <div class="song-main-text">
                            <textarea name="song-lyrics"
                              id="song-lyrics"
                              class="song-lyrics"
                              cols="60"
                              rows="10"
                              disabled>
                                @Song.Lyrics
                                                                                                                                                                        </textarea>
                        </div>
                    </section>
                </div>
                <div class="song-wall"></div>
                <section class="song-main-content">
                    <h2 class="title">Feedback</h2>
                    <div class="song-main-text last-child">
                        <div class="comment">
                            <img src="/img/thumbnail.jpg"
                         alt="Me-avatar"
                         class="comment-avatar" />
                            <input class="me-comment-input"
                           type="text"
                           placeholder="Tell some about this song..." />
                            <button class="btn btn--size-s btn--secondary">
                                Send
                            </button>
                        </div>
                        <div class="comment">
                            <img src="/img/tranthanh.png"
                         alt="avatar"
                         class="comment-avatar" />
                            <div class="comment-content">
                                <h2 class="comment-title">
                                    Trấn Thành
                                </h2>
                                <p class="comment-content-text">
                                    Sơn Tùng đúng là 1 nghệ sĩ tài năng
                                </p>
                            </div>
                        </div>
                        <div class="comment">
                            <img src="/img/tranthanh.png"
                         alt="avatar"
                         class="comment-avatar" />
                            <div class="comment-content">
                                <h2 class="comment-title">
                                    Trấn Thành
                                </h2>
                                <p class="comment-content-text">
                                    Tôi thích bài này quá
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <CascadingValue Name="listSong" Value=@this>
                    <SongSlideComponent Songs=@Songs Text="Recommend Songs" OneSlide=true />
                </CascadingValue>
            </div>
        </div>
    }
    else
    {
        <h2 class="song-error">You can not access the song! </h2>
    }
}
else
{
    <h2 class="song-error">Can not found the song! </h2>
}


@code {
    [Parameter]
    public int Id { get; set; } = -1;

    private Song? Song { get; set; } = null;
    private int SongView { get; set; } = 0;

    // Recommend
    private List<Song>? Songs { get; set; } = new List<Song>();

    // Add song to playlist
    public bool AddToPlaylistPopup = false;

    public string favoriteIcon { get; set; } = "fal";
    public bool IsFavorite = false;

    public bool PopUp = false;

    public void SwitchActivePopup()
    {
        PopUp ^= true;
    }

    public void SetViewFavorite()
    {
        favoriteIcon = IsFavorite ? "fas" : "fal";
    }

    public async Task ToggleFavorite()
    {
        if (state.Account is not null)
        {
            if (IsFavorite)
            {
                IsFavorite = await FavoriteService.disableSong(state.Account.Username, Song!.Id);
            }
            else
            {
                IsFavorite = await FavoriteService.enableSong(state.Account.Username, Song!.Id);
            }
            SetViewFavorite();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Id > 0)
        {
            await LoadSong();
            await LoadTopSongs();
            if (Song is not null)
            {
                SongView = await TrackingService.GetSongViewCount(Song.Id);
                if (state.Account is not null)
                {
                    IsFavorite = await GetFavorite();
                    SetViewFavorite();
                    await TrackingService.AddSongViewCount(state.Account.Username, Song!.Id);
                }
                else
                {
                    await TrackingService.AddSongViewCount("anonymous", Song!.Id);
                }
            }
        }
    }

    private async Task<bool> GetFavorite()
    {
        return await FavoriteService.IsSongFavorited(state.Account!.Username, Song!.Id);
    }

    private async Task LoadSong()
    {
        Song = await SongService.GetSong(Id);
    }

    // Recommend
    private async Task LoadTopSongs()
    {
        Songs = await SongService.GetTop(10);
    }

    // Add song to playlist
    public void SwitchActivePlaylistPopup()
    {
        AddToPlaylistPopup ^= true;
    }
}

