﻿@page "/test"
@layout UserLayout
@inject IWebHostEnvironment _env
@inject State state
@using Imagekit
@using MUZIC.App.Utility

<p>@Title</p>
<p>@Artist</p>
<p>@Genre</p>
<p>@Duration</p>

<img src=@imgSrc alt="This is an image" width="500" />
<InputFile type="file" OnChange=@ChangeImage/>
<InputFile type="file" OnChange=@UploadSong/>

@code {
    private string? imgSrc;
    private string? Title;
    private string? Artist;
    private string? Genre;
    private int Duration;

    async Task UploadSong(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var uploadTask = Util.UploadFile("/MUZIC/song/", file);

        var metadata = await Util.GetSongMetadata(file);
        // Do something with the metadata here
        Title = metadata.Title;
        Artist = metadata.Artist;
        Genre = metadata.Genre;
        Duration = metadata.Duration;

        // Get upload response
        var uploadRes = await uploadTask;

        // Upload data to database
        await SongService.Create(new Song
        {
            Username = state.Account!.Username,
            Src = uploadRes.URL,
            Title = metadata.Title,
            Artist = metadata.Artist,
            Genre = metadata.Genre,
            Duration = metadata.Duration
        });
    }

    async Task ChangeImage(InputFileChangeEventArgs e)
    {
        var file = e.File;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        imgSrc = Util.GetImage(res.URL, new Transformation().Width(500));
    }
}
