﻿<footer class="footer">
    <div class="footer-main">
        <div class="about">
            <h2 class="footer-title">About</h2>
            <p class="footer-content">
                Scanfcode.com CODE WANTS TO BE SIMPLE is an
                initiative to help the upcoming programmers with
                the code. Scanfcode focuses on providing the
                most efficient code or snippets as the code
                wants to be simple.
            </p>
        </div>
        <div class="location">
            <h2 class="footer-title">Location</h2>
            <p class="footer-content">
                Hẻm 1 Trần Vỉnh Kiết, P.An Bình, Q.Ninh Kiều, Tp
                Cần Thơ.
            </p>
        </div>
        <div class="author">
            <h2 class="footer-title">Author</h2>
            <div class="footer-content">
                <p>Đặng Ngọc Tùng Duy</p>
                <p>Nguyễn Anh Vũ</p>
                <p>Lê Nhật Quỳnh</p>
                <p>Nguyễn Khánh Duy</p>
                <p>Đặng Minh Cảnh</p>
            </div>
        </div>
    </div>
    <div class="footer-others">
        <p class="copyright">
            Copyright &copy; 2022 All Rights Reserved by
            Group4Fun.
        </p>
        <div class="footer-links">
            <a class="footer-links-icon" href="#">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="footer-links-icon" href="#">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="footer-links-icon" href="#">
                <i class="fab fa-dribbble"></i>
            </a>
            <a class="footer-links-icon" href="#">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>
    </div>
</footer>