﻿@using MUZIC.Model
@inject State state

<nav class="navbar">
    <section class="nav-section">
        <a href="/" class="nav-title">
            <img src="/img/logo.png" alt="" />
            <span>MUZIC</span>
        </a>
    </section>
    <section class="nav-section">
        <a class="item" href="/">
            <i class="fal fa-home nav-link-icon"></i>
            <span>Home</span>
        </a>
        @if (state.Account is not null)
        {
            <a class="item" href="/profile">
                <i class="fal fa-user-alt nav-link-icon"></i>
                <span>Profile</span>
            </a>
        }
        <a class="item" href="/rank">
            <i class="fal fa-layer-group nav-link-icon"></i>
            <span>Ranking</span>
        </a>
    </section>
    @if (state.Account is not null)
    {
        <section class="nav-section">
            <a class="item" href="/profile/favorite">
                <i class="fal fa-heart nav-link-icon"></i>
                <span>Favorite</span>
            </a>
            <a class="item" href="/profile/playlist">
                <i class="fal fa-folder-plus nav-link-icon"></i>
                <span>Create playlist</span>
            </a>
            <a class="item">
                <i class="fal fa-history nav-link-icon"></i>
                <span>History</span>
            </a>
        </section>
    }
    <section class="nav-section">
        <a class="item">
            <i class="fal fa-address-card nav-link-icon"></i>
            <span>About</span>
        </a>
        <a class="item" href="/feedback" target="_blank">
            <i class="fal fa-comment-dots nav-link-icon"></i>
            <span>Feedback</span>
        </a>
    </section>
</nav>