﻿@using Imagekit
@using MUZIC.App.Utility
@if (Playlists is not null)
{
	<div class="slide-container">
		<div class="heading-body">
			<p class="text-head-body" id="defaultSlide" onclick="defaultOpenSlide()">@Text</p>
		</div>
		@if (Playlists is not null)
		{
			@if (Playlists.Count == 10)
			{
				<a class="prev2" onclick="plusSlides2(@SlideNumber)">

					<i class="fas fa-chevron-circle-left fa-3x prev-icon"></i>

				</a>
				<a class="next2" onclick="plusSlides2(@SlideNumber)">

					<i class="fas fa-chevron-circle-right fa-3x prev-icon"></i>

				</a>
			}
			<div class="row">
				@if (Playlists.Count == 10)
				{
					@for (int i = 0; i < @Playlists.Count; i++)
					{
						var idx = Index + i;
						<div class="column" onmouseover="onMouseOver(@idx)" onmouseout="onMouseOut(@idx)">
							<div class="column-img" id="columnimage">
								<img class="demo cursor" id="img-song-slide"
					 src="@Playlists[i].Thumbnail" style="width:100%"
					 alt="Mưa - Trung Quân">
							</div>
							<div class="column-link-text" id="columntext">
								<p class="column-link-text-name">@Playlists[i].Title</p>
								<p class="column-link-text-artist">@Playlists[i].Username</p>
							</div>
							@if ((@idx % 10) < 5)
							{
								<div class="column-hover" id="hoverstate">
									<div class="img-hover">
										<img class="column-hover-img cursor"
						 src="@Playlists[i].Thumbnail" style="width:100%"
						 alt="Mưa - Trung Quân">
									</div>
									<div class="song-hover">
										<div class="song-link">
											<a href="#" class="song-hover-link">

												<i class="fal fa-heart fa-2x heart-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-play-circle fa-4x play-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-ellipsis-h fa-2x ellipsis-btn"></i>

											</a>
										</div>
										<div class="column-link-text2">
											<p class="column-link-text-name">@Playlists[i].Title</p>
											<p class="column-link-text-artist">@Playlists[i].Username</p>
										</div>
									</div>
									<div class="background-hover"></div>

								</div>
							}
							else
							{
								<div class="column-hover" id="hoverstate" style="display:none;">
									<div class="img-hover">
										<img class="column-hover-img cursor"
						 src="@Playlists[i].Thumbnail" style="width:100%"
						 alt="Mưa - Trung Quân">
									</div>
									<div class="song-hover">
										<div class="song-link">
											<a href="#" class="song-hover-link">

												<i class="fal fa-heart fa-2x heart-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-play-circle fa-4x play-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-ellipsis-h fa-2x ellipsis-btn"></i>

											</a>
										</div>
										<div class="column-link-text2">
											<p class="column-link-text-name">@Playlists[i].Title</p>
											<p class="column-link-text-artist">@Playlists[i].Username</p>
										</div>
									</div>
									<div class="background-hover"></div>

								</div>
							}
						</div>
					}
				}
				else
				{
					@if (Playlists.Count <= 5)
					{
						@for (int i = 0; i < @Playlists.Count; i++)
						{
							var idx = Index + i;
							<div class="column" onmouseover="onMouseOver(@idx)" onmouseout="onMouseOut(@idx)">
								<div class="column-img" id="columnimage">
									<img class="demo cursor" id="img-song-slide"
					 src="@Playlists[i].Thumbnail" style="width:100%"
					 alt="Mưa - Trung Quân">
								</div>
								<div class="column-link-text" id="columntext">
									<p class="column-link-text-name">@Playlists[i].Title</p>
									<p class="column-link-text-artist">@Playlists[i].Username</p>
								</div>
								<div class="column-hover" id="hoverstate">
									<div class="img-hover">
										<img class="column-hover-img cursor"
						 src="@Playlists[i].Thumbnail" style="width:100%"
						 alt="Mưa - Trung Quân">
									</div>
									<div class="song-hover">
										<div class="song-link">
											<a href="#" class="song-hover-link">

												<i class="fal fa-heart fa-2x heart-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-play-circle fa-4x play-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-ellipsis-h fa-2x ellipsis-btn"></i>

											</a>
										</div>
										<div class="column-link-text2">
											<p class="column-link-text-name">@Playlists[i].Title</p>
											<p class="column-link-text-artist">@Playlists[i].Username</p>
										</div>
									</div>
									<div class="background-hover"></div>

								</div>
							</div>
						}
					}

				}


			</div>
		}

	</div>

}
@if (Songs is not null)
{
	<div class="slide-container">
		<div class="heading-body">
			<p class="text-head-body" id="defaultSlide" onclick="defaultOpenSlide()">@Text</p>
		</div>
		@if (Songs is not null)
		{
			@if (Index == 10)
			{
				<a class="prev2" onclick="plusSlides2(@SlideNumber)">

					<i class="fas fa-chevron-circle-left fa-3x prev-icon"></i>

				</a>
				<a class="next2" onclick="plusSlides2(@SlideNumber)">

					<i class="fas fa-chevron-circle-right fa-3x prev-icon"></i>

				</a>
			}
			<div class="row">
				@if (Index == 10)
				{
					@for (int i = 0; i < @Songs.Count; i++)
					{
						var idx = Index + i;
						<div class="column" onmouseover="onMouseOver(@idx)" onmouseout="onMouseOut(@idx)">
							<div class="column-img" id="columnimage">
								<img class="demo cursor" id="img-song-slide"
					 src="@Songs[i].Thumbnail" style="width:100%"
					 alt="Mưa - Trung Quân">
							</div>
							<div class="column-link-text" id="columntext">
								<p class="column-link-text-name">@Songs[i].Title</p>
								<p class="column-link-text-artist">@Songs[i].Username</p>
							</div>
							@if ((@idx % 10) < 5)
							{
								<div class="column-hover" id="hoverstate">
									<div class="img-hover">
										<img class="column-hover-img cursor"
						 src="@Songs[i].Thumbnail" style="width:100%"
						 alt="Mưa - Trung Quân">
									</div>
									<div class="song-hover">
										<div class="song-link">
											<a href="#" class="song-hover-link">

												<i class="fal fa-heart fa-2x heart-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-play-circle fa-4x play-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-ellipsis-h fa-2x ellipsis-btn"></i>

											</a>
										</div>
										<div class="column-link-text2">
											<p class="column-link-text-name">@Songs[i].Title</p>
											<p class="column-link-text-artist">@Songs[i].Username</p>
										</div>
									</div>
									<div class="background-hover"></div>

								</div>
							}
							else
							{
								<div class="column-hover" id="hoverstate" style="display:none;">
									<div class="img-hover">
										<img class="column-hover-img cursor"
						 src="@Songs[i].Thumbnail" style="width:100%"
						 alt="Mưa - Trung Quân">
									</div>
									<div class="song-hover">
										<div class="song-link">
											<a href="#" class="song-hover-link">

												<i class="fal fa-heart fa-2x heart-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-play-circle fa-4x play-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-ellipsis-h fa-2x ellipsis-btn"></i>

											</a>
										</div>
										<div class="column-link-text2">
											<p class="column-link-text-name">@Songs[i].Title</p>
											<p class="column-link-text-artist">@Songs[i].Username</p>
										</div>
									</div>
									<div class="background-hover"></div>

								</div>
							}
						</div>
					}
				}
				else
				{
					@if (Songs.Count <= 5)
					{
						@for (int i = 0; i < @Songs.Count; i++)
						{
							var idx = Index + i;
							<div class="column" onmouseover="onMouseOver(@idx)" onmouseout="onMouseOut(@idx)">
								<div class="column-img" id="columnimage">
									<img class="demo cursor" id="img-song-slide"
					 src="@Songs[i].Thumbnail" style="width:100%"
					 alt="Mưa - Trung Quân">
								</div>
								<div class="column-link-text" id="columntext">
									<p class="column-link-text-name">@Songs[i].Title</p>
									<p class="column-link-text-artist">@Songs[i].Username</p>
								</div>
								<div class="column-hover" id="hoverstate">
									<div class="img-hover">
										<img class="column-hover-img cursor"
						 src="@Songs[i].Thumbnail" style="width:100%"
						 alt="Mưa - Trung Quân">
									</div>
									<div class="song-hover">
										<div class="song-link">
											<a href="#" class="song-hover-link">

												<i class="fal fa-heart fa-2x heart-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-play-circle fa-4x play-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-ellipsis-h fa-2x ellipsis-btn"></i>

											</a>
										</div>
										<div class="column-link-text2">
											<p class="column-link-text-name">@Songs[i].Title</p>
											<p class="column-link-text-artist">@Songs[i].Username</p>
										</div>
									</div>
									<div class="background-hover"></div>

								</div>
							</div>
						}
					}
					else
					{
						@for (int i = 0; i < 5; i++)
						{
							var idx = Index + i;
							<div class="column" onmouseover="onMouseOver(@idx)" onmouseout="onMouseOut(@idx)">
								<div class="column-img" id="columnimage">
									<img class="demo cursor" id="img-song-slide"
					 src="@Songs[i].Thumbnail" style="width:100%"
					 alt="Mưa - Trung Quân">
								</div>
								<div class="column-link-text" id="columntext">
									<p class="column-link-text-name">@Songs[i].Title</p>
									<p class="column-link-text-artist">@Songs[i].Username</p>
								</div>
								<div class="column-hover" id="hoverstate">
									<div class="img-hover">
										<img class="column-hover-img cursor"
						 src="@Songs[i].Thumbnail" style="width:100%"
						 alt="Mưa - Trung Quân">
									</div>
									<div class="song-hover">
										<div class="song-link">
											<a href="#" class="song-hover-link">

												<i class="fal fa-heart fa-2x heart-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-play-circle fa-4x play-btn"></i>

											</a>
											<a href="#" class="song-hover-link">

												<i class="fal fa-ellipsis-h fa-2x ellipsis-btn"></i>

											</a>
										</div>
										<div class="column-link-text2">
											<p class="column-link-text-name">@Songs[i].Title</p>
											<p class="column-link-text-artist">@Songs[i].Username</p>
										</div>
									</div>
									<div class="background-hover"></div>

								</div>
							</div>
						}
					}

				}

			</div>
		}

	</div>

}

@if (Playlists is null && Songs is null)
{
	<p>Oops Something went wrong.....</p>
}


@code {
	[Parameter]
	public string? Text { get; set; }

	[Parameter]
	public List<Playlist>? Playlists { get; set; } = null;

	[Parameter]
	public List<Song>? Songs { get; set; } = null;

	[Parameter]
	public int Index { get; set; } = 0;

	[Parameter]
	public int SlideNumber { get; set; } = 1;
}