.playlist {
    margin: 40px 100px 0;
    padding-top: 20px;
}

.playlist-section {
    margin-bottom: 40px;
}

    .playlist-section:last-child {
        margin-bottom: 0px;
        padding-bottom: 40px;
    }

    .playlist-section .title {
        font-size: 18px;
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
    }

        .playlist-section .title::after {
            content: "";
            position: absolute;
            bottom: -3px; /*position the underline using left and bottom property*/
            left: -2px;
            right: -2px;
            border-bottom: 1px solid #333; /* adjust the underline width and color as you like*/
        }

.playlist-main {
    display: flex;
    max-height: 500px;
    padding: 10px 20px;
    gap: 30px;
}

.playlist-thumbnail .playlist-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.playlist-thumbnail .playlist-views {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.playlist-thumbnail .playlist-views-item {
    font-size: 16px;
}

    .playlist-thumbnail .playlist-views-item span {
        margin-left: 4px;
    }

    .playlist-thumbnail .playlist-views-item i {
        color: #f46530;
    }

        .playlist-thumbnail .playlist-views-item i:hover {
            cursor: pointer;
            color: #fff;
        }

.playlist-songs {
    flex: 1;
    overflow: auto;
}

    .playlist-songs .playlist-songs-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin-bottom: 12px;
        border-bottom: 1px solid #999;
        padding: 4px 12px;
    }

        .playlist-songs .playlist-songs-item:last-child {
            border-bottom: 0;
        }

    .playlist-songs .song-item-no {
        font-size: 30px;
        color: #f46530;
        text-align: center;
        line-height: 50px;
        flex-basis: 50px;
    }

    .playlist-songs .song-item-content {
        flex: 1;
    }

    .playlist-songs .song-item-img {
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .playlist-songs .song-item-title {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 4px;
    }

    .playlist-songs .song-item-singer {
        font-size: 16px;
        font-weight: 300;
        color: #c0c0c0;
    }

    .playlist-songs .song-item-btns {
        display: flex;
        gap: 25px;
    }

    .playlist-songs .song-item-btns-item {
        position: relative;
        font-size: 18px;
        background-color: rgb(244, 101, 48, 0.15);
        padding: 5px;
    }

        .playlist-songs .song-item-btns-item.last-child {
            background-color: transparent;
        }

        .playlist-songs .song-item-btns-item > i {
            color: #f46530;
        }

            .playlist-songs .song-item-btns-item i:hover {
                cursor: pointer;
                color: #fff;
            }

.playlist-info {
    padding: 16px 40px;
    font-size: 16px;
    background-color: #242329;
    border-radius: 32px
}

    .playlist-info p {
        margin-bottom: 20px;
    }

    .playlist-info span {
        font-weight: bold;
        font-style: italic;
    }

.other-playlist .other-playlist-item {
    display: flex;
    gap: 10px;
    padding: 10px 12px;
    font-size: 16px;
}

    .other-playlist .other-playlist-item:hover {
        cursor: pointer;
        color: #f46530;
    }

.playlist-not-found {
    text-align: center;
    padding: 20px 0;
    background: #fff;
    color: #000;
}

.playlist-main .btn-add-favorite {
    border-radius: 12px;
    border-color: #f46530;
}

.playlist-main .playlist-thumbnail-img {
    position: relative;
    cursor: pointer;
}

    .playlist-main .playlist-thumbnail-img:hover .playlist-img {
        opacity: 0.8;
    }

    .playlist-main .playlist-thumbnail-img:hover .btn-play-playlist {
        visibility: visible;
    }

.playlist-main .btn-play-playlist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
