﻿/*ranking page*/
.ranking-container {
    background-color: var(--background);
    color: white;
    padding: 20px 20px 30px 20px;
}

.chart-title,
.top-muzic-view-chart-title {
    font-size: var(--fontSize1);
    margin-bottom: 20px;
}

.chart-container {
    padding: 2rem;
}

.wall {
    width: 2px;
    height: 50px;
    background-color: var(--lightWhite);
    margin: 0 20px;
}

.chart-tab {
    font-size: var(--fontSize2);
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.tab-view,
.tab-favorite {
    padding: 20px 10px;
    border: 2px solid transparent;
    cursor: pointer;
}

    .tab-view:hover,
    .tab-favorite:hover {
        border-bottom: 2px solid var(--orange);
    }

.color-orange {
    color: var(--orange);
}

.top-muzic-chart-container {
    width: 100%;
    height: auto;
    max-height: 530px;
    margin: 20px 0px;
    overflow-y: hidden;
    padding-bottom: 40px;
}

.ranking-song {
    display: flex;
    align-items: center;
    height: 100px;
    background-color: var(--lightGray);
    margin: 5px 0px;
    border-radius: 10px;
    z-index: 1;
}

    .ranking-song:nth-child(even) {
        background-color: var(--background);
    }

.ranking-number {
    display: flex;
    width: 10%;
    justify-content: center;
    font-size: 70px;
    font-weight: bold;
}

.top-1 {
    color: var(--lightGray);
    text-shadow: rgb(255, 4, 4) 5px 0px 0px, rgb(255, 4, 4) 4.90033px 0.993347px 0px, rgb(255, 4, 4) 4.60531px 1.94709px 0px, rgb(255, 4, 4) 4.12668px 2.82321px 0px, rgb(255, 4, 4) 3.48353px 3.58678px 0px, rgb(255, 4, 4) 2.70151px 4.20736px 0px, rgb(255, 4, 4) 1.81179px 4.6602px 0px, rgb(255, 4, 4) 0.849836px 4.92725px 0px, rgb(255, 4, 4) -0.145998px 4.99787px 0px, rgb(255, 4, 4) -1.13601px 4.86924px 0px, rgb(255, 4, 4) -2.08073px 4.54649px 0px, rgb(255, 4, 4) -2.94251px 4.04248px 0px, rgb(255, 4, 4) -3.68697px 3.37732px 0px, rgb(255, 4, 4) -4.28444px 2.57751px 0px, rgb(255, 4, 4) -4.71111px 1.67494px 0px, rgb(255, 4, 4) -4.94996px 0.7056px 0px, rgb(255, 4, 4) -4.99147px -0.291871px 0px, rgb(255, 4, 4) -4.83399px -1.27771px 0px, rgb(255, 4, 4) -4.48379px -2.2126px 0px, rgb(255, 4, 4) -3.95484px -3.05929px 0px, rgb(255, 4, 4) -3.26822px -3.78401px 0px, rgb(255, 4, 4) -2.4513px -4.35788px 0px, rgb(255, 4, 4) -1.53666px -4.75801px 0px, rgb(255, 4, 4) -0.560763px -4.96845px 0px, rgb(255, 4, 4) 0.437495px -4.98082px 0px, rgb(255, 4, 4) 1.41831px -4.79462px 0px, rgb(255, 4, 4) 2.34258px -4.41727px 0px, rgb(255, 4, 4) 3.17346px -3.86382px 0px, rgb(255, 4, 4) 3.87783px -3.15633px 0px, rgb(255, 4, 4) 4.4276px -2.32301px 0px, rgb(255, 4, 4) 4.80085px -1.39708px 0px, rgb(255, 4, 4) 4.98271px -0.415447px 0px;
}

.top-2 {
    color: var(--background);
    text-shadow: rgb(76, 110, 245) 5px 0px 0px, rgb(76, 110, 245) 4.90033px 0.993347px 0px, rgb(76, 110, 245) 4.60531px 1.94709px 0px, rgb(76, 110, 245) 4.12668px 2.82321px 0px, rgb(76, 110, 245) 3.48353px 3.58678px 0px, rgb(76, 110, 245) 2.70151px 4.20736px 0px, rgb(76, 110, 245) 1.81179px 4.6602px 0px, rgb(76, 110, 245) 0.849836px 4.92725px 0px, rgb(76, 110, 245) -0.145998px 4.99787px 0px, rgb(76, 110, 245) -1.13601px 4.86924px 0px, rgb(76, 110, 245) -2.08073px 4.54649px 0px, rgb(76, 110, 245) -2.94251px 4.04248px 0px, rgb(76, 110, 245) -3.68697px 3.37732px 0px, rgb(76, 110, 245) -4.28444px 2.57751px 0px, rgb(76, 110, 245) -4.71111px 1.67494px 0px, rgb(76, 110, 245) -4.94996px 0.7056px 0px, rgb(76, 110, 245) -4.99147px -0.291871px 0px, rgb(76, 110, 245) -4.83399px -1.27771px 0px, rgb(76, 110, 245) -4.48379px -2.2126px 0px, rgb(76, 110, 245) -3.95484px -3.05929px 0px, rgb(76, 110, 245) -3.26822px -3.78401px 0px, rgb(76, 110, 245) -2.4513px -4.35788px 0px, rgb(76, 110, 245) -1.53666px -4.75801px 0px, rgb(76, 110, 245) -0.560763px -4.96845px 0px, rgb(76, 110, 245) 0.437495px -4.98082px 0px, rgb(76, 110, 245) 1.41831px -4.79462px 0px, rgb(76, 110, 245) 2.34258px -4.41727px 0px, rgb(76, 110, 245) 3.17346px -3.86382px 0px, rgb(76, 110, 245) 3.87783px -3.15633px 0px, rgb(76, 110, 245) 4.4276px -2.32301px 0px, rgb(76, 110, 245) 4.80085px -1.39708px 0px, rgb(76, 110, 245) 4.98271px -0.415447px 0px;
}

.top-3 {
    color: var(--lightGray);
    text-shadow: rgb(37, 165, 106) 5px 0px 0px, rgb(37, 165, 106) 4.90033px 0.993347px 0px, rgb(37, 165, 106) 4.60531px 1.94709px 0px, rgb(37, 165, 106) 4.12668px 2.82321px 0px, rgb(37, 165, 106) 3.48353px 3.58678px 0px, rgb(37, 165, 106) 2.70151px 4.20736px 0px, rgb(37, 165, 106) 1.81179px 4.6602px 0px, rgb(37, 165, 106) 0.849836px 4.92725px 0px, rgb(37, 165, 106) -0.145998px 4.99787px 0px, rgb(37, 165, 106) -1.13601px 4.86924px 0px, rgb(37, 165, 106) -2.08073px 4.54649px 0px, rgb(37, 165, 106) -2.94251px 4.04248px 0px, rgb(37, 165, 106) -3.68697px 3.37732px 0px, rgb(37, 165, 106) -4.28444px 2.57751px 0px, rgb(37, 165, 106) -4.71111px 1.67494px 0px, rgb(37, 165, 106) -4.94996px 0.7056px 0px, rgb(37, 165, 106) -4.99147px -0.291871px 0px, rgb(37, 165, 106) -4.83399px -1.27771px 0px, rgb(37, 165, 106) -4.48379px -2.2126px 0px, rgb(37, 165, 106) -3.95484px -3.05929px 0px, rgb(37, 165, 106) -3.26822px -3.78401px 0px, rgb(37, 165, 106) -2.4513px -4.35788px 0px, rgb(37, 165, 106) -1.53666px -4.75801px 0px, rgb(37, 165, 106) -0.560763px -4.96845px 0px, rgb(37, 165, 106) 0.437495px -4.98082px 0px, rgb(37, 165, 106) 1.41831px -4.79462px 0px, rgb(37, 165, 106) 2.34258px -4.41727px 0px, rgb(37, 165, 106) 3.17346px -3.86382px 0px, rgb(37, 165, 106) 3.87783px -3.15633px 0px, rgb(37, 165, 106) 4.4276px -2.32301px 0px, rgb(37, 165, 106) 4.80085px -1.39708px 0px, rgb(37, 165, 106) 4.98271px -0.415447px 0px;
}

.top-4 {
    color: var(--background);
    text-shadow: rgb(255, 245, 6) 5px 0px 0px, rgb(255, 245, 6) 4.90033px 0.993347px 0px, rgb(255, 245, 6) 4.60531px 1.94709px 0px, rgb(255, 245, 6) 4.12668px 2.82321px 0px, rgb(255, 245, 6) 3.48353px 3.58678px 0px, rgb(255, 245, 6) 2.70151px 4.20736px 0px, rgb(255, 245, 6) 1.81179px 4.6602px 0px, rgb(255, 245, 6) 0.849836px 4.92725px 0px, rgb(255, 245, 6) -0.145998px 4.99787px 0px, rgb(255, 245, 6) -1.13601px 4.86924px 0px, rgb(255, 245, 6) -2.08073px 4.54649px 0px, rgb(255, 245, 6) -2.94251px 4.04248px 0px, rgb(255, 245, 6) -3.68697px 3.37732px 0px, rgb(255, 245, 6) -4.28444px 2.57751px 0px, rgb(255, 245, 6) -4.71111px 1.67494px 0px, rgb(255, 245, 6) -4.94996px 0.7056px 0px, rgb(255, 245, 6) -4.99147px -0.291871px 0px, rgb(255, 245, 6) -4.83399px -1.27771px 0px, rgb(255, 245, 6) -4.48379px -2.2126px 0px, rgb(255, 245, 6) -3.95484px -3.05929px 0px, rgb(255, 245, 6) -3.26822px -3.78401px 0px, rgb(255, 245, 6) -2.4513px -4.35788px 0px, rgb(255, 245, 6) -1.53666px -4.75801px 0px, rgb(255, 245, 6) -0.560763px -4.96845px 0px, rgb(255, 245, 6) 0.437495px -4.98082px 0px, rgb(255, 245, 6) 1.41831px -4.79462px 0px, rgb(255, 245, 6) 2.34258px -4.41727px 0px, rgb(255, 245, 6) 3.17346px -3.86382px 0px, rgb(255, 245, 6) 3.87783px -3.15633px 0px, rgb(255, 245, 6) 4.4276px -2.32301px 0px, rgb(255, 245, 6) 4.80085px -1.39708px 0px, rgb(255, 245, 6) 4.98271px -0.415447px 0px;
}

.top-5 {
    color: var(--lightGray);
    text-shadow: rgb(230, 46, 178) 5px 0px 0px, rgb(230, 46, 178) 4.90033px 0.993347px 0px, rgb(230, 46, 178) 4.60531px 1.94709px 0px, rgb(230, 46, 178) 4.12668px 2.82321px 0px, rgb(230, 46, 178) 3.48353px 3.58678px 0px, rgb(230, 46, 178) 2.70151px 4.20736px 0px, rgb(230, 46, 178) 1.81179px 4.6602px 0px, rgb(230, 46, 178) 0.849836px 4.92725px 0px, rgb(230, 46, 178) -0.145998px 4.99787px 0px, rgb(230, 46, 178) -1.13601px 4.86924px 0px, rgb(230, 46, 178) -2.08073px 4.54649px 0px, rgb(230, 46, 178) -2.94251px 4.04248px 0px, rgb(230, 46, 178) -3.68697px 3.37732px 0px, rgb(230, 46, 178) -4.28444px 2.57751px 0px, rgb(230, 46, 178) -4.71111px 1.67494px 0px, rgb(230, 46, 178) -4.94996px 0.7056px 0px, rgb(230, 46, 178) -4.99147px -0.291871px 0px, rgb(230, 46, 178) -4.83399px -1.27771px 0px, rgb(230, 46, 178) -4.48379px -2.2126px 0px, rgb(230, 46, 178) -3.95484px -3.05929px 0px, rgb(230, 46, 178) -3.26822px -3.78401px 0px, rgb(230, 46, 178) -2.4513px -4.35788px 0px, rgb(230, 46, 178) -1.53666px -4.75801px 0px, rgb(230, 46, 178) -0.560763px -4.96845px 0px, rgb(230, 46, 178) 0.437495px -4.98082px 0px, rgb(230, 46, 178) 1.41831px -4.79462px 0px, rgb(230, 46, 178) 2.34258px -4.41727px 0px, rgb(230, 46, 178) 3.17346px -3.86382px 0px, rgb(230, 46, 178) 3.87783px -3.15633px 0px, rgb(230, 46, 178) 4.4276px -2.32301px 0px, rgb(230, 46, 178) 4.80085px -1.39708px 0px, rgb(230, 46, 178) 4.98271px -0.415447px 0px;
}

.icon-add,
.icon-heart,
.icon-headphone {
    color: var(--orange);
}

.icon-add {
    position: relative;
}

.ranking-add,
.ranking-favorite,
.ranking-view,
.ranking-time {
    color: var(--orange);
    display: flex;
    align-items: center;
    margin: 0px 5px;
    justify-content: flex-end;
}

.ranking-time {
    width: 10%;
    justify-content: center;
    color: var(--lightWhite);
}

.ranking-add {
    width: 30%;
}

.ranking-favorite,
.ranking-view {
    width: 6%;
}

.ranking-song-info {
    width: 33%;
}

.icon-heart,
.icon-headphone {
    margin-left: 5px;
}

.view-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-ranking-playlist,
.btn-ranking-song {
    background-color: var(--orange);
    font-size: var(--fontSize1);
    color: white;
    width: 60%;
    height: 50px;
    border-radius: 12px;
    cursor: pointer;
}

    .btn-ranking-playlist:hover,
    .btn-ranking-song:hover {
        opacity: 0.8;
    }

.ranking-song:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.active-ranking {
    max-height: 800px;
    overflow-y: scroll;
}
