.song-header {
    position: relative;
}

    .song-header .song-background-img {
        background: url("/img/background-img.jpg") top center / cover no-repeat;
        background-color: #cccccc;
        padding-top: 20%;
        opacity: 0.4;
    }

    .song-header .song-header-content {
        position: absolute;
        top: 13%;
        left: 14%;
        display: flex;
        gap: 30px;
    }

    .song-header .song-img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    .song-header .song-content {
        margin-top: 70px;
    }

    .song-header .song-title {
        font-size: 50px;
        font-weight: 400;
        letter-spacing: 4px;
    }

    .song-header .song-singer {
        margin-top: 20px;
        font-weight: 300;
    }

    .song-header .song-btns {
        margin-top: 20px;
        display: flex;
        gap: 20px;
    }



    .song-header .song-btns-item, .song-header .song-view i {
        font-size: 20px;
        color: #f46530;
        position: relative;
    }

        .song-header .song-btns-item:hover, .song-header .song-view i:hover {
            color: #fff;
            cursor: pointer;
        }

    .song-header .song-view {
        font-size: 20px;
        margin-top: 20px;
    }

    .song-header .song-view span {
        margin-left: 8px;
    }



.song-main {
    margin: 40px 100px 0;
}

    .song-main .song-main-content {
    }

    .song-main .title {
        font-size: 18px;
        color: #fff;
        position: relative;
        display: inline-block;
    }

        .song-main .title::after {
            content: "";
            position: absolute;
            bottom: -3px; /*position the underline using left and bottom property*/
            left: -2px;
            right: -2px;
            border-bottom: 1px solid #333; /* adjust the underline width and color as you like*/
        }

    .song-main .song-main-text {
        padding: 15px 30px;
        font-size: 18px;
        background-color: #242329;
        border-radius: 32px;
        margin: 20px 0;
        color: #C0C0C0;
    }

        .song-main .song-main-text.last-child {
            background-color: transparent;
        }

.song-main-text p {
    margin-bottom: 20px;
}

.song-main-text span {
    font-weight: bold;
    font-style: italic;
}

.song-main-text .song-lyrics {
    border: 0;
    outline: 0;
    background: transparent;
    padding: 12px 14px;
    width: 100%;
    min-height: 500px;
    resize: none;
    line-height: 1.8;
    font-size: 18px;
    color: #C0C0C0;
}

.song-main-text .comment {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.song-main-content .comment-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

    .song-main-content .comment-avatar:hover {
        cursor: pointer;
        opacity: 0.8;
    }

.song-main-content .me-comment-input {
    flex: 1;
    background: transparent;
    color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #999;
}

.song-main-content .comment-content {
    flex: 1;
    background: #26272b;
    padding: 8px 16px;
}

.song-main-content .comment-title {
    font-size: 18px;
    margin-bottom: 10px;
}

.song-main-content .comment-content-text {
    font-size: 16px;
}

.song-error {
    text-align: center;
    padding: 20px 0;
    background: #fff;
    color: #000;
}

.song-wrapper {
    border-radius: 16px;
    border: 1px solid #333;
    padding: 20px 30px 0;
    margin-bottom: 10px;
}

.song-wall {
    border: 1px solid #333;
    margin: 30px 0;
}
