﻿@using MUZIC.App.Utility
<tr>
    <td class="card-container">
        <div class="card-image-container" >
            <img class="card-image card-avatar"
                 src=@(Account is not null ? Util.GetImage(Account.Avatar, new Imagekit.Transformation().Width(44).Height(44)) : "https://www.pngkey.com/png/detail/114-1149878_setting-user-avatar-in-specific-size-without-breaking.png") />
        </div>
        <div class="card-info" >
            <div class="card-name">
                @if (Account is not null) 
                    @Account.DisplayName
                else
                    @("Anonymous user")
            </div>
            <div class="card-desc">
                ID: @Feedback.Username
            </div>
        </div> 
    </td>
    <td>
        <div class="card-info">
            <div class="card-name">
                @Feedback.Title
            </div>
            <div class="card-desc">
                on @Feedback.Date
            </div>
        </div> 
    </td>
    <td>
        <div class="card-info">
            <div class="card-name">
                @Feedback.Detail
            </div>
        </div> 
    </td>
    <td>
        <div class="status-@(Feedback.Priority == 0 ? "normal" : (Feedback.Priority == 1 ? "medium" : "high")) status-pill"></div>

    </td>
    <td>
        <div class="list">
            <a class="toggler" href="javascript:void(0);">
                <i class="fal fa-ellipsis-v"></i>
            </a>
            <ul class="list-data">
                 <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(0)">Normal</li>
                </a>
                <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(1)">Medium</li>
                </a>
                <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(2)">High</li>
                </a>
            </ul>
        </div>
    </td>
</tr>


@code {
    [Parameter]
    public Feedback Feedback { get; set; } = null!;
    Account? Account;

    protected override async Task OnInitializedAsync()
    {
        Account = await AccountService.Get(Feedback.Username);
    }

    public async Task ChangeStatus(int priority)
    {
        if (Feedback.Priority == priority) return;
        await AdminService.UpdateFeedbackPriority(Feedback.Id, priority);
        Feedback.Priority = priority;
    }
}