﻿@page "/profile/favorite"
@using MUZIC.App.Component.User.Profile
@layout ProfileLayout
@inject State state
@inject IJSRuntime _IJSRuntime
<PageTitle>Setting Favorite</PageTitle>

@if (state.Account is not null)
{
    <!-- myfavorite -->
    <div class="tab-myfavorite-inner tab-inner">
        <!-- myfavorite search  -->
    <div class="tab-myfavorite-inner-header">
            <div class="profile-search">
                <input type="text"
                   name="myfavorite-search"
                   class="myfavorite-search"
                   placeholder="Enter keyword" />
                <i class="fal fa-search"></i>
            </div>
        </div>

        <!-- myfavorite song container list  -->
    <div class="tab-myfavorite-inner-list-title">SONG FAVORITE</div>

        <div class="tab-myfavorite-inner-list">
            <div class="tab-myfavorite-titles">
                <div class="tab-myfavorite-title">No</div>
                <div class="tab-myfavorite-title">Song</div>
                <div class="tab-myfavorite-title">Genre</div>
                <div class="tab-myfavorite-title">Date</div>
                <div class="tab-myfavorite-title">Delete</div>
            </div>
            @if (listsong != null && listsong.Count != 0)
            {
                <CascadingValue Name="FavoritePage" Value=@this>
                    @for (var i = 0; i < @listsong.Count; i++)
            {
                <FavoriteSong Song=@listsong[i] Number=@(i+1) />
            }

        </CascadingValue>
            }
            else
            {
                <h1 class="component-null">Your account do not have any favorite song!</h1>
            }

        </div>

        <!-- myfavorite playlist container list  -->
    <div class="tab-myfavorite-inner-list-title2">PLAYLIST FAVORITE</div>

        <div class="tab-myfavorite-inner-list">
            <div class="tab-myfavorite-titles">
                <div class="tab-myfavorite-title-pl">No</div>
                <div class="tab-myfavorite-title-pl">Playlist</div>
                <div class="tab-myfavorite-title-pl">Songs</div>
                <div class="tab-myfavorite-title-pl">Duration</div>
                <div class="tab-myfavorite-title-pl">Date</div>
                <div class="tab-myfavorite-title-pl">Delete</div>
            </div>

            @if (listplaylist != null && listplaylist.Count != 0)
            {
                <CascadingValue Name="FavoritePage" Value=@this>
                    @for (var i = 0; i < @listplaylist.Count; i++)
            {
                <FavoritePlaylist Playlist=@listplaylist[i] Number=@(i+1) />
            }

        </CascadingValue>
            }
            else
            {
                <h1 class="component-null">Your account do not have any favorite playlist!</h1>
            }

        </div>
    </div>
}
else
{
    @("Account null")
}


@code {
    List<Song> listsong = new List<Song>();
    List<Playlist> listplaylist = new List<Playlist>();

    protected override async Task OnInitializedAsync()
    {
        if (state.Account != null)
        {
            await LoadSong();
            await LoadPlaylist();
        }
    }

    public void removeSong(Song song)
    {
        listsong.Remove(song);
        StateHasChanged();
    }

    public void removePlaylist(Playlist playlist)
    {
        listplaylist.Remove(playlist);
        StateHasChanged();
    }

    public async Task LoadSong()
    {
        listsong = await FavoriteService.GetFavoriteSong(state.Account!.Username);
    }
    public async Task LoadPlaylist()
    {
        listplaylist = await FavoriteService.GetFavoritePlaylist(state.Account!.Username);
    }
}