﻿@page "/profile/setting"
@using MUZIC.App.Component.User.Profile
@layout ProfileLayout
@inject State state
<PageTitle>Settings User</PageTitle>

@if (state.Account is not null)
{
    <!-- setting -->
    <div class="tab-setting-inner tab-inner tab-inner-active ">
        <div class="profile-detail1">
            @if (disabledProfile)
            {
                <Loading IsOuter=true />
            }
            <div class="profile-detail1-title padding-top20">Profile setting</div>
            <div class="profile-detail1-login-title margin-top35">Login</div>
            <div class="profile-detail1-login-content profile-detail-background">
                <i class="fal fa-user"></i>
                <input type="text"
                   value=@state.Account.Username
                   class="profile-detail1-input"
                   disabled />
            </div>
            <div class="profile-detail1-email-title margin-top35">Email</div>
            <div class="profile-detail1-email-content profile-detail-background">
                <i class="fal fa-envelope"></i>
                <input type="email"
                   @bind=state.Account.Email
                   class="profile-detail1-input"
                   required />
            </div>
            <div class="profile-detail1-join-title margin-top35">Join date</div>
            <div class="profile-detail1-join-content profile-detail-background">
                <i class="fal fa-user-clock"></i>
                <input type="text"
                   value=@state.Account.Date
                   class="profile-detail1-input"
                   required
                   disabled />
            </div>
            <div class="profile-detail1-display-title margin-top35">Display name</div>
            <div class="profile-detail1-display-content profile-detail-background">
                <i class="fal fa-user"></i>
                <input type="text"
                   @bind=state.Account.DisplayName
                   class="profile-detail1-input"
                   required />
            </div>
            <div class="profile-detail1-save">
                <button @onclick="UpdateProfile" class="btn btn-save">Save</button>
            </div>
        </div>

        <div class="profile-detail2 @Border ">
            @if (disabledPassword)
            {
                <Loading IsOuter=true />
            }
            <div class="profile-detail2-title padding-top20">Password setting</div>
            <div class="profile-detail2-old-password-title margin-top35">Old password</div>
            <div class="profile-detail2-old-password-content profile-detail-background">
                <i class="fal fa-key"></i>
                <input type="password"
                   class="profile-detail2-input"
                   required
                   placeholder="**********" @bind=OldPass />
            </div>
            <div class="profile-detail2-new-password-title margin-top35">New password</div>
            <div class="profile-detail2-new-password-content profile-detail-background">
                <i class="fal fa-key"></i>
                <input type="password"
                   class="profile-detail2-input"
                   placeholder="**********" @bind=NewPass
                   required />
            </div>
            <div class="profile-detail2-confirm-title margin-top35">Confirm password</div>
            <div class="profile-detail2-confirm-content profile-detail-background">
                <i class="fal fa-key"></i>
                <input type="password"
                   class="profile-detail2-input"
                   placeholder="**********" @bind=ConfirmPass
                   required />
            </div>
            <div class="profile-detail2-robot-content profile-detail-background border-green">
                <i class="fal fa-check check-robot"></i>
                <input type="text"
                   value="I'm not robot"
                   class="profile-detail2-input"
                   disabled />
            </div>
            <div class="profile-detail2-save">
                <button @onclick="UpdatePassword" class="btn btn-save">Save</button>
            </div>
        </div>
    </div>
}
else
{
    @("Account null")
}

@code {
    Account acc = new Account();
    public string Border { get; set; } = "";
    public string? OldPass { get; set; } = "";
    public string? NewPass { get; set; } = "";
    public string? ConfirmPass { get; set; } = "";
    public string? IsPassword { get; set; }
    private bool disabledProfile = false;
    private bool disabledPassword = false;


    protected override async Task OnInitializedAsync()
    {
        if (state.Account != null)
        {
            acc.Username = state.Account.Username;
        }
    }

    public async Task UpdateProfile()
    {
        disabledProfile = true;
        await SettingService.UpdateProfile(state.Account, acc.Username);
        await ((Func<Task>)state["_update_acc"]!)();
        disabledProfile = false;
    }

    public async Task UpdatePassword()
    {
        if (NewPass.Trim() == ConfirmPass.Trim() && (OldPass != "" && NewPass != "" && ConfirmPass != ""))
        {
            disabledPassword = true;
            IsPassword = await SettingService.UpdatePassword(state.Account.Username, OldPass.Trim(), NewPass.Trim());
            await ((Func<Task>)state["_update_acc"]!)();
            disabledPassword = false;
            if (IsPassword != null)
            {
                Border = "border-red";
            }
            else
            {
                Border = "border-green2";
            }
        }
        else
        {
            Border = "border-red";
        }
    }


}