@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Mulish", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(37deg, #185a95 0%, #3f7eb8 44%, #78f2eb 100%);
}

:root {
  --background: #081012;
  --orange: #f46530;
  --lightWhite: #c0c0c0;
  --fontSize1: 36px;
  --fontSize2: 24px;
  --fontSize3: 22px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.model-signIn-container {
  position: relative;
  width: 1000px;
  height: 800px;
  border-radius: 20px;
  background-color: var(--background);
  color: white;
}

.signIn-logo {
  position: absolute;
  top: 0;
  width: 15%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.signIn-figure {
  position: absolute;
  top: 25%;
  left: 5%;
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.model-input {
  position: absolute;
  top: 25%;
  right: 0;
  width: 400px;
  height: 350px;
  line-height: 1.5;
}

.model-input-name {
  font-size: var(--fontSize1);
}

.model-input-slogan,
.input-label {
  font-size: var(--fontSize3);
  color: var(--lightWhite);
}

.model-input-slogan,
.input-component,
.remember,
input[type=submit] {
  margin-bottom: 10px;
}

.input-component {
  border: 2px solid var(--lightWhite);
  border-radius: 8px;
  padding: 3px;
  width: 75%;
}

.fal {
  margin: 3px;
}

input[type=text] {
  width: 85%;
}

input[type=submit] {
  width: 75%;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: var(--orange);
  color: white;
}

#password {
  width: 76%;
}

input:not([type=submit], [type=checkbox]) {
  background-color: transparent;
  color: white;
  border: none;
}

input,
.fa-eye-slash {
  cursor: pointer;
}

input:focus {
  outline: none;
}

.remember {
  display: flex;
  align-items: center;
}

.link-signup {
  color: var(--orange);
  text-decoration: none;
}

.new-account {
  color: var(--lightWhite);
}