﻿@page "/admin"
@layout AdminLayout

<PageTitle>Index</PageTitle>

<MUZIC.App.Component.Admin.Overview.TopOverview DashboardMetric=DashboardMetric/>
<MUZIC.App.Component.Admin.Overview.TraficOverview DashboardMetric=DashboardMetric/>
<MUZIC.App.Component.Admin.Overview.BotOverview DashboardMetric=DashboardMetric/>


@code {
    public DashboardMetric DashboardMetric = new();

    protected override async Task OnInitializedAsync()
    {
        DashboardMetric = await AdminService.GetDashboardMetric();
    }

}