.footer {
    background: #26272b;
    padding: 20px 100px 0;
}

.footer-main {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.footer-main .about {
    flex: 1;
}

.footer-main .footer-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.footer-main .footer-content,
.footer-main .footer-content h2 {
    font-size: 16px;
    color: #999;
    line-height: 24px;
    margin-top: 10px;
    font-weight: 300;
}

.footer-main .footer-content h2 {
    margin-top: 4px;
}

.footer-others {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 10px;
    border-top: 1px solid #fff;
}

.footer-others .footer-links {
    display: flex;
    gap: 10px;
}

.footer-links-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #33353d;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-links-icon:hover {
    background: #29aafe;
}
