﻿<div class="admin-sidenav">
    <a class="sidenav-logo" href="/admin">
        <div class="d-logo">
            <span class="logo-center">
                <i class="fal fa-music"></i>
            </span>
        </div>
        <div class="word-logo">
            Dashboard Kit
        </div>
    </a>
    <NavLink class="sidenav-item" href="/admin" Match="NavLinkMatch.All">
        <i class="fal fa-chart-pie"></i>
        <span>Overview</span>
    </NavLink>
    <NavLink class="sidenav-item" href="/admin/user">
        <i class="fal fa-joystick"></i>
        <span>User management</span>
    </NavLink>
    <NavLink class="sidenav-item" href="/admin/song">
        <i class="fal fa-lightbulb"></i>
        <span>Song management</span>
    </NavLink>
    <NavLink class="sidenav-item"  href="/admin/feedback">
        <i class="fal fa-comment-alt-lines"></i>
        <span>Feedback</span>
    </NavLink>
</div>
@{
    //sidenav-item-active


}