﻿<div class="paging-container">
    <div class="paging-rows-ctn">
        Row per pages:
        <select class="paging-row" @onchange=ChangeNumDisplay>
            <option value="8">8</option>
            <option value="20">20</option>
            <option value="100">100</option>
        </select>

    </div>
    <div class="paging-navigator">
        <div class="nav-data">
            <span class="page-id-range">Page @pageId/@GetNumPages()</span>
            <span class="page-value-range">(@(Math.Min((pageId-1)*num+1, Count)) - @(Math.Min(pageId*num, Count)) of @Count)</span>
         </div>
         <div class="nav-move">
             <i class="fal fa-chevron-left @(pageId > 1 ? "active" : "")" @onclick=MoveLeft></i>
             <i class="fal fa-chevron-right @(pageId < GetNumPages() ? "active" : "")" @onclick=MoveRight></i>
         </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<(int, int)> OnChange { get; set; }

    [Parameter]
    public int Count { get; set; }

    private int num = 8;
    private int pageId = 1;

    public async Task Reset()
    {
        await OnChange.InvokeAsync((pageId = 1, num));
    }

    private async Task ChangeNumDisplay(ChangeEventArgs e)
    {
        int.TryParse((string)(e.Value!), out num);
        await OnChange.InvokeAsync((pageId = 1, num));
    }

    private async Task MoveLeft()
    {
        if (pageId == 1) return;
        await OnChange.InvokeAsync((--pageId, num));
    }

    private async Task MoveRight()
    {
        if (pageId == GetNumPages()) return;
        await OnChange.InvokeAsync((++pageId, num));
    }

    private int GetNumPages()
    {
        if (Count == 0) return 1;
        return Count / num + (Count%num != 0 ? 1 : 0);
    }
}
