﻿@using MUZIC.App.Pages.User.Profile
@inject State state


<div  class="tab-myfavorite-list">
    <div class="tab-myfavorite-list-song">
        <div class="myfavorite-container-no">@Number</div>
        <div class="myfavorite-container-song">
            <a href="/song/@Song.Id" class="myfavorite-container-song-thumbnail">
                <img src="@Song.Thumbnail" />
            </a>
            <div class="myfavorite-container-song-title">
                @Song.Title
            </div>
            <div class="myfavorite-container-song-singer">@Song.Artist</div>
        </div>
        <div class="myfavorite-container-genre">@Song.Genre</div>
        <div class="myfavorite-container-date">@Song.Date</div>
        <div class="myfavorite-container-tool">
            <div @onclick="DeleteSong" class="icon-background icon-delete">
                <i class="fal fa-trash"></i>
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter(Name = "FavoritePage")]
    public FavoritePage list { get; set; } = null!;

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public Song Song { get; set; } = null!;

    public async Task DeleteSong()
    {
        await FavoriteService.disableSong(state.Account!.Username, Song.Id);
        list.removeSong(Song);
    }
}
