﻿@using MUZIC.App.Pages.User.Profile
@using MUZIC.App.Utility
@inject State state


<div class="tab-myfavorite-list">
    <div class="myfavorite-playlist-container">
        <div class="tab-myfavorite-list-song">
            <div class="myfavorite-container-no">@Number</div>
            <div class="myfavorite-container-song">
                <a href="/playlist/@Playlist.Id" class="myfavorite-container-song-thumbnail">
                    <img src="@Playlist?.Thumbnail" />
                </a>
                <div class="myfavorite-container-song-title">
                    @Playlist?.Title
                </div>
            </div>
            <div class="myfavorite-container-songs-pl">@listSong?.Count</div>
            <div class="myfavorite-container-duration-pl">@PlaylistTime</div>
            <div class="myfavorite-container-date-pl">@Playlist?.Date</div>
            <div class="myfavorite-container-tool-pl">
                <div @onclick="DeletePlaylist" class="icon-background icon-delete2">
                    <i class="fal fa-trash"></i>
                </div>
                <div @onclick="SwitchViewSong" class="icon-playlist-more">
                    <i class="fal @ViewSong"></i>
                </div>
            </div>
        </div>
        <div class="myfavorite-playlist-songs">
            @if (@listSong != null && @ActiveViewSong)
            {
                @for (var i = 0; i < @listSong.Count; i++)
                {
                    <a href="/song/@listSong[i].Id" class="myfavorite-playlist-song">
                        <div class="playlist-song-song playlist-song-song-favorite">
                            <div class="playlist-song-thumbnail playlist-song-thumbnail-favorite">
                                <img src="@listSong[i].Thumbnail" />
                            </div>
                            <div class="playlist-song-title">@listSong[i].Title</div>
                            <div class="playlist-song-singer">@listSong[i].Artist</div>
                        </div>
                        <div class="playlist-song-genre-favorite">@listSong[i].Genre</div>
                        <div class="playlist-song-duration">@( Duration(@listSong[i].Duration) )</div>
                    </a>
                }
            }
            else if (@listSong == null)
            {
                <h3 class="component-null">Your playlist do not have any song!</h3>
            }
        </div>
    </div>

</div>

@code {
    [CascadingParameter(Name = "FavoritePage")]
    public FavoritePage? list { get; set; }

    List<Song> listSong = new List<Song>();

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public Playlist Playlist { get; set; } = new Playlist();

    public string ViewSong { get; set; } = "fa-angle-right";
    public bool ActiveViewSong = false;

    public string? PlaylistTime { get; set; }

    public string Duration(int time)
    {
        return FavoriteService.SongDuration(time);
    }

    public void SwitchViewSong()
    {
        ActiveViewSong ^= true;
        if (ActiveViewSong)
        {
            ViewSong = "fa-angle-down";
        }
        else
        {
            ViewSong = "fa-angle-right";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await LoadPlaylistSong();
    }

    public async Task LoadPlaylistSong()
    {
        listSong = await PlaylistService.GetSongs(Playlist.Id);
        PlaylistTime = Util.TimeFormat(await PlaylistService.GetDuration(Playlist.Id));
    }

    public async Task DeletePlaylist()
    {
        await FavoriteService.disablePlaylist(state.Account!.Username, Playlist.Id);
        list?.removePlaylist(Playlist);
    }
}
