﻿<div class="loader">
    <div class="outer"></div>
    <div class="middle"></div>
    <div class="inner"></div>
    @if (IsOuter)
    {
        <div class="loading_notifi"> We are processing your request</div>
    }
</div>
@code {
    [Parameter]
    public bool IsOuter { get; set; } = false;
}