﻿@using MUZIC.App.Pages.User.Profile

<div class="myplaylist-playlist-song">
    <div class="playlist-song-song">
        <div class="playlist-song-thumbnail">
            <img src="@SongChoosen.Song.Thumbnail" />
        </div>
        <div class="playlist-song-title">@SongChoosen.Song.Title</div>
        <div class="playlist-song-singer">@SongChoosen.Song.Artist</div>
    </div>
    <div class="playlist-song-genre">@SongChoosen.Song.Genre</div>
    <div class="playlist-song-duration">@(Duration(SongChoosen.Song.Duration))</div>
    <i @onclick="IsChooseThisSong" class="fal @IsChoosenIcon check-addsong"></i>
</div>
@code {
    [CascadingParameter(Name = "PlaylistPage")]
    public PlaylistCollectionPage PlaylistPage { get; set; } = null!;

    [Parameter]
    public SongChoosen SongChoosen { get; set; } = null!;

    public string IsChoosenIcon { get; set; } = null!;

    public string Duration(int time)
    {
        return FavoriteService.SongDuration(time);
    }

    public void SwitchChoosen()
    {
        SongChoosen.Choosen ^= true;
    }

    public void IsChooseThisSong()
    {
        SwitchChoosen();
        if (SongChoosen.Choosen) IsChoosenIcon = "fa-check-square";
        else IsChoosenIcon = "fa-square";
    }

    protected override void OnParametersSet()
    {
        if (SongChoosen.Choosen) IsChoosenIcon = "fa-check-square";
        else IsChoosenIcon = "fa-square";
    }


}
