﻿@using MUZIC.App.Pages.User.Profile
@using MUZIC.App.Utility
    <div class="tab-myplaylist-list-song">
        <div class="myplaylist-container-no">@Number</div>
        <div class="myplaylist-container-song">
            <a href="/playlist/@Playlist.Id" class="myplaylist-container-song-thumbnail">
                <img src="@Playlist.Thumbnail" />
            </a>
            <div class="myplaylist-container-song-title">
                @Playlist.Title
            </div>
        </div>
        <div class="myplaylist-container-songs">@listSong.Count</div>
        <div class="myplaylist-container-duration">@PlaylistTime</div>
        <div class="myplaylist-container-date">@Playlist.Date</div>
        <div class="mysong-container-public">
            <div @onclick="SwitchPublic" class="icon-background icon-public  @PublicString ">
                <i class="fal  @PublicIcon"></i>
            </div>
        </div>
        <div class="myplaylist-container-tool">
            <div @onclick="SwitchActivePopup" class="icon-background icon-edit">
                <i class="fal fa-edit edit-button-mpl"></i>
            </div>
            <div @onclick="DeletePlaylist" class="icon-background icon-delete3">
                <i class="fal fa-trash"></i>
            </div>
            <div @onclick="SwitchViewSong" class="icon-playlist-more2">
                <i class="fal @ViewSong"></i>
            </div>
        </div>
    </div>
@if (listSong != null && listSong.Count != 0 && ActiveViewSong)
{
    <div class="myplaylist-playlist-song-container">
        <CascadingValue Name="page" Value=@this>
            @for (var i = 0; i < listSong.Count; i++)
        {
            <PlaylistCollectionComponentSong Song=@listSong[i]></PlaylistCollectionComponentSong>
        }
    </CascadingValue>
</div>
}
else if (ActiveViewSong && listSong!.Count == 0)
{
    <h3 class="component-null">Your playlist do not have any song!</h3>
}

@if (ActiveEdit)
{
    <PlaylistCollectionEdit Playlist=@Playlist OnClose=@SwitchActivePopup />
}


@code {
    [CascadingParameter(Name = "PlaylistPage")]
    public PlaylistCollectionPage PlaylistPage { get; set; } = null!;

    List<Song> listSong = new List<Song>();
    public string? PlaylistTime { get; set; }

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public Playlist Playlist { get; set; } = null!;

    public string PublicString = null!;
    public string PublicIcon = null!;

    public string ViewSong { get; set; } = "fa-angle-right";
    public bool ActiveViewSong = false;
    public bool ActiveEdit = false;

    public void LoadPlaylist()
    {
        StateHasChanged();
    }

    public void SwitchActivePopup()
    {
        ActiveEdit ^= true;
    }

    public void SwitchViewSong()
    {
        ActiveViewSong ^= true;
        if (ActiveViewSong)
        {
            ViewSong = "fa-angle-down";
        }
        else
        {
            ViewSong = "fa-angle-right";
        }
    }


    public void CheckPublic()
    {
        if (Playlist.IsPublic)
        {
            PublicString = "icon-public-active";
            PublicIcon = "fa-unlock";
        }
        else
        {
            PublicString = "";
            PublicIcon = "fa-lock";
        }
    }
    protected override async Task OnInitializedAsync()
    {
        await LoadPlaylistSong();
        CheckPublic();
        if (ActiveViewSong)
        {
            ViewSong = "fa-angle-down";
        }
        else
        {
            ViewSong = "fa-angle-right";
        }
    }

    public async Task LoadPlaylistSong()
    {
        listSong = await PlaylistService.GetSongs(Playlist?.Id);
        PlaylistTime = Util.TimeFormat(await PlaylistService.GetDuration(Playlist!.Id));
    }

    public async Task DeletePlaylist()
    {
        await PlaylistService.DeleteCollection(Playlist.Id);
        PlaylistPage.removePlaylist(Playlist);
    }

    public void removePlaylistSong(Song Song)
    {
        listSong.Remove(Song);
        StateHasChanged();
    }

    public async Task SwitchPublic()
    {
        Playlist.IsPublic ^= true;
        CheckPublic();
        await PlaylistService.UpdatePubicCollection(Playlist.IsPublic, Playlist.Id);
    }

}
