﻿@inject State state
@using Imagekit
@using MUZIC.App.Utility

<!-- my playlist edit  -->
<div class="tab-myplaylist-popup-edit-container edit-container">

    @if (disabled)
    {
        <Loading IsOuter=true />
    }

    <div class="tab-myplaylist-popup-edit popup-edit">
        <div class="popup-edit-header">
            <div class="popup-edit-header-title">EDIT</div>
            <i @onclick="OnClose" class="fal fa-times exit-button-mpl"></i>
        </div>
        <div class="newplaylist-thumbnail-title">
            <div class="newplaylist-thumbnail">
                <div class="newplaylist-thumbnail-label">Thumbnail</div>
                <div class="newplaylist-thumbnail-inputfile">
                    @if (disabledThumbnail)
                    {
                        <Loading />
                    }
                    <InputFile type="file" accept="image/*"
                               name="newplaylist-thumbnail-input"
                               class="newplaylist-thumbnail-input" OnChange=@ChangeThumbnail />
                    <img src=@Util.GetImage(Playlist.Thumbnail!, new Transformation().Width(280).Height(50))
                         alt=""
                         class="image-playlist" />
                </div>
            </div>
            <div class="newplaylist-title">
                <div class="newplaylist-title-label">Title playlist</div>
                <div class="newplaylist-title-inputtext">
                    <input type="text"
                           name="newplaylist-title-input"
                           class="newplaylist-title-input"
                           placeholder="Groupforfun" @bind=Playlist.Title />
                </div>
            </div>
        </div>
        <div class="newplaylist-description">
            <div class="newplaylist-description-label">
                Description playlist
            </div>
            <textarea @bind=Playlist.Description @bind:event="onchange" name="newplaylist-description-input"
                      class="newplaylist-description-input"></textarea>
        </div>
        <div class="newplaylist-addsong">
            <div class="newplaylist-addsong-label">Add song to playlist</div>
            <div class="newplaylist-addsong-container">
                @if (ListChoosen != null && ListChoosen.Count != 0)
                {
                    <CascadingValue Name="EditPage" Value=@this>
                        @for (var i = 0; i < ListChoosen.Count; i++)
                    {
                        <PlaylistCollectionSong SongChoosen=@ListChoosen[i] />
                    }
                </CascadingValue>
                }

            </div>
        </div>
        <div class="popup-edit-save">
            <button @onclick="UpdatePlaylist" class="btn save-song">SAVE PLAYLIST</button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public Playlist Playlist { get; set; } = null!;
    [Parameter]
    public EventCallback OnClose { get; set; }

    public List<SongChoosen> ListChoosen { get; set; } = null!;

    private bool disabled = false;
    private bool disabledThumbnail = false;


    public async Task UpdatePlaylist()
    {
        disabled = true;
        await PlaylistService.UpdatePlaylistCollection(Playlist, ListChoosen);
        await OnClose.InvokeAsync();
        disabled = false;
    }

    public void AddSong(SongChoosen song)
    {
        foreach (var item in ListChoosen)
        {
            if (item.Song.Id == song.Song.Id)
            {
                item.Choosen = true;
            }
        }

        StateHasChanged();
    }

    public void RemoveSong(SongChoosen song)
    {
        foreach (var item in ListChoosen)
        {
            if (item.Song.Id == song.Song.Id)
            {
                item.Choosen = false;
            }
        }
        StateHasChanged();
    }


    protected override async Task OnInitializedAsync()
    {
        if (state.Account != null)
        {
            ListChoosen = await PlaylistService.GetListChoosen(state.Account.Username, Playlist.Id, 2);
        }
    }

    async Task ChangeThumbnail(InputFileChangeEventArgs e)
    {
        var file = e.File;
        disabledThumbnail = true;
        var res = await Util.UploadFile("/MUZIC/img/", file);
        disabledThumbnail = false;
        Playlist.Thumbnail = res.URL;
    }
}
