﻿@using MUZIC.App.Utility
<a href="/song/@Song.Id" class="myplaylist-playlist-song-inner">
    <div class="playlist-song-song">
        <div class="playlist-song-thumbnail">
            <img src="@Song.Thumbnail" />
        </div>
        <div class="playlist-song-title">@Song.Title</div>
        <div class="playlist-song-singer">@Song.Artist</div>
    </div>
    <div class="playlist-song-genre">@Song.Genre</div>
    <div class="playlist-song-duration-mpl">@(Util.TimeFormat(Song.Duration))</div>
    <i @onclick="DeletePlaylistSong" class="fal fa-minus"></i>
</a>
@code {
    [CascadingParameter(Name = "page")]
    public PlaylistCollectionComponent PlaylistPageComponent { get; set; } = null!;

    [Parameter]
    public Song Song { get; set; } = null!;

    public async Task DeletePlaylistSong()
    {
        await PlaylistService.DeletePlaylistSong(PlaylistPageComponent.Playlist.Id, Song.Id);
        PlaylistPageComponent.removePlaylistSong(Song);
    }

}
