﻿@using MUZIC.App.Pages.User.Profile

    <div class="tab-mysong-list-song">
        <div class="mysong-container-no">@Number</div>

        <div class="mysong-container-song">
            <a href="/song/@Song.Id" class="mysong-container-song-thumbnail">
                <img src="@Song.Thumbnail" />
            </a>
            <div class="mysong-container-song-title">
                @Song.Title
            </div>
            <div class="mysong-container-song-singer">@Song.Artist</div>
        </div>

        <div class="mysong-container-genre">@Song.Genre</div>
        <div class="mysong-container-date">@Song.Date</div>
        <div class="mysong-container-public">
            <div @onclick="SwitchPublic" class="icon-background icon-public @PublicString">
                <i class="fal @PublicIcon"></i>
            </div>
        </div>
        <div class="mysong-container-tool">
            <div @onclick="SwitchActivePopup" class="icon-background icon-edit">
                <i class="fal fa-edit edit-button"></i>
            </div>
            <div @onclick="DeleteSong" class="icon-background icon-delete">
                <i class="fal fa-trash"></i>
            </div>
        </div>
    </div>

@if (@ActiveEdit)
{
    <SongCollectionEdit Song=@Song OnClose=@SwitchActivePopup />
}

@code {
    [CascadingParameter(Name = "listSong")]
    public SongCollectionPage ListSong { get; set; } = null!;

    [Parameter]
    public int Number { get; set; }

    [Parameter]
    public Song Song { get; set; } = null!;

    public string PublicString = null!;
    public string PublicIcon = null!;

    public bool ActiveEdit = false;

    public void LoadSong()
    {
        StateHasChanged();
    }

    public void SwitchActivePopup()
    {
        ActiveEdit ^= true;
    }

    protected override void OnInitialized()
    {
        CheckPublic();
    }

    public void CheckPublic()
    {
        if (Song.IsPublic)
        {
            PublicString = "icon-public-active";
            PublicIcon = "fa-unlock";
        }
        else
        {
            PublicString = "";
            PublicIcon = "fa-lock";
        }
    }

    public async Task SwitchPublic()
    {
        Song.IsPublic ^= true;
        CheckPublic();
        await SongService.UpdatePubicCollection(Song.IsPublic, Song.Id);
    }

    public async Task DeleteSong()
    {
        ListSong.removeItem(Number - 1);
        await SongService.DeleteCollection(Song.Id);
    }
}
