﻿<div class="top-overview">
    <div class="item-overview">
        <div class="overview-title">
            #Feedback
        </div>
        <div class="overview-number">
            @DashboardMetric.cnt_feedback
        </div>
    </div>
    <div class="item-overview">
        <div class="overview-title">
            #User
        </div>
        <div class="overview-number">
            @DashboardMetric.cnt_account
        </div>
    </div>
    <div class="item-overview">
        <div class="overview-title">
            #Song
        </div>
        <div class="overview-number">
            @DashboardMetric.cnt_song
        </div>
    </div>
    <div class="item-overview">
        <div class="overview-title">
            #Playlist
        </div>
        <div class="overview-number">
            @DashboardMetric.cnt_playlist
        </div>
    </div>
</div>


@code {
    [Parameter]
    public DashboardMetric DashboardMetric { get; set; } = null!;
}
            