﻿@inject IJSRuntime JS

<div class="trafic-overview">
    <div class="chart-area" >
        <canvas id="myChart"></canvas>
    </div>
    <div class="number-area">
        <div class="item-number">
            <div class="item-group">
                <div class="number-title">
                    #Web visited
                </div>
                <div class="number">
                    @DashboardMetric.today_web_visited 
                </div>
            </div>
        </div>
        <div class="item-number">
            <div>
                <div class="number-title">
                    #Songs Listened
                </div>
                <div class="number">
                    @DashboardMetric.today_song_view
                </div>
            </div>
        </div>
        <div class="item-number">
            <div>
                <div class="number-title">
                    #Song created
                </div>
                <div class="number">
                    @DashboardMetric.today_song_created
                </div>
            </div>
        </div>
        <div class="item-number">
            <div>
                <div class="number-title">
                    #Playlists created
                </div>
                <div class="number">
                    @DashboardMetric.today_playlist_created
                    
                </div>
            </div>
        </div>
        <div class="item-number">
            <div>
                <div class="number-title">
                    #New users
                </div>
                <div class="number">
                    @DashboardMetric.today_account_created
                </div>
            </div>
        </div>
    </div>
</div>
            

@code {
    [Parameter]
    public DashboardMetric DashboardMetric { get; set; } = null!;
    protected override async void OnAfterRender(bool firstRender)
    {
        string today = DateTime.Now.ToString("yyyy-MM-d");
        string yesterday = DateTime.Now.Subtract(TimeSpan.FromDays(1)).ToString("yyyy-MM-d");
        //as of 19 Jan 2022, 00:00 AM
        string title_date = "as of "+DateTime.Now.ToString("d MMM yyyy, hh:mm tt");
        
        List<int> today_data = await AdminService.GetDashboardTrafic(today );
        List<int> yesterday_data = await AdminService.GetDashboardTrafic(yesterday);

        JS.InvokeVoidAsync("show_chart", yesterday_data, today_data, title_date);
        
    }

}
            