﻿@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap");
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: "Mulish";
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

ol,
li {
    list-style: none;
}

.debug {
    outline: 0.5rem dashed peru;
}
