﻿@inject Mp3 mp3

<div class="popup-play-content">
    <div class="popup-play-content-item" @onclick=@PlaySong>
        <div class="popup-play-content-item-icon">
            <i class="fas fa-play @IconSize"></i>
        </div>
        <div class="popup-play-content-item-text">
            <p class="popup-play-content-item-text-p">Play</p>
        </div>
    </div>
    <div class="popup-play-content-item" @onclick=@AddSongCurrentQueue>
        <div class="popup-play-content-item-icon">
            <i class="fas fa-plus @IconSize"></i>
        </div>
        <div class="popup-play-content-item-text">
            <p class="popup-play-content-item-text-p">Add to queue</p>
        </div>
    </div>
</div>
<div class="popup-play-background" @onclick=OnClose></div>

@code {
    [Parameter]
    public Song Song { get; set; } = null!;

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public string IconSize { get; set; }= "fa-2x";

    public async Task PlaySong()
    {
        await mp3.PlaySong(Song);
        await OnClose.InvokeAsync();
    }
    public async Task AddSongCurrentQueue()
    {
        await mp3.AddSong(Song);
        await OnClose.InvokeAsync();
    }
}
