﻿@inject Mp3 mp3

<div class="popup-play-content">
    <div class="popup-play-content-item" @onclick=@PlaySong>
        <div class="popup-play-content-item-icon">
            <i class="fas fa-play @IconSize"></i>
        </div>
        <div class="popup-play-content-item-text">
            <p class="popup-play-content-item-text-p">Play</p>
        </div>
    </div>
    <div class="popup-play-content-item" @onclick=@AddSongCurrentQueue>
        <div class="popup-play-content-item-icon">
            <i class="fas fa-plus @IconSize"></i>
        </div>
        <div class="popup-play-content-item-text">
            <p class="popup-play-content-item-text-p">Add to queue</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public TopSong Song { get; set; } = null!;

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public string IconSize { get; set; }= "fa-2x";

    public Song Song2 = null!;

    public async Task PlaySong()
    {
        Song2 = new Song {Id = Song.Id, Username= Song.Username, Src = Song.Src, Thumbnail =Song.Thumbnail, Cover =Song.Cover, Title = Song.Title, Artist = Song.Artist, Genre =Song.Genre, Lyrics =Song.Lyrics, Description = Song.Description, Date = Song.Date, Duration = Song.Duration, IsPublic= Song.IsPublic, Status= Song.Status };
        await mp3.PlaySong(Song2);
        await OnClose.InvokeAsync();
    }
    public async Task AddSongCurrentQueue()
    {
        Song2 = new Song {Id = Song.Id, Username= Song.Username, Src = Song.Src, Thumbnail =Song.Thumbnail, Cover =Song.Cover, Title = Song.Title, Artist = Song.Artist, Genre =Song.Genre, Lyrics =Song.Lyrics, Description = Song.Description, Date = Song.Date, Duration = Song.Duration, IsPublic= Song.IsPublic, Status= Song.Status };
        await mp3.AddSong(Song2);
        await OnClose.InvokeAsync();
    }
}
