﻿@using MUZIC.App.Utility
<div class="ranking-song">
    <div class="ranking-number @NumberList">@Number2</div>
    <div class="mysong-container-song  ranking-song-info">
        <a href="/playlist/@Playlist.Id" class="mysong-container-song-thumbnail">
            <img src="@Playlist.Thumbnail" />
        </a>
        <div class="mysong-container-song-title">
            @Playlist.Title
        </div>
    </div>
    <div class="ranking-add ">
        <i @onclick="SwitchActivePopup" class="icon-background fal fa-plus  icon-add">
            @if (@ActiveAdd)
            {
                <PopupPlaylistRanking Playlist=@Playlist OnClose=@SwitchActivePopup />
            }
        </i>
    </div>
    <div class="ranking-favorite ">@FavoriteCount<i class="icon-background fas fa-heart  icon-heart"></i></div>
    <div class="ranking-view ">@ViewCount<i class="icon-background fas fa-headphones icon-headphone"></i></div>
    <div class="ranking-time">@PlaylistTime</div>
</div>

@code {
    [Parameter]
    public int Number { get; set; }
    public string Number2 { get; set; } = "";
    [Parameter]
    public TopPlaylist Playlist { get; set; } = null!;
    [Parameter]
    public int Type { get; set; }
    public string ViewCount { get; set; } = "";
    public string FavoriteCount { get; set; } = "";
    public string NumberList { get; set; } = "";
    public string? PlaylistTime { get; set; }
    public bool ActiveAdd = false;

    public void SwitchActivePopup()
    {
        ActiveAdd ^= true;
    }
    public void LoadCount()
    {
        if (Type == 5)
        {
            ViewCount = "" + Playlist.cnt;
            FavoriteCount = "";
        }
        if (Type == 6)
        {
            FavoriteCount = "" + Playlist.cnt;
            ViewCount = "";
        }
        if (Number >= 1 && Number <= 5)
        {
            NumberList = "top-" + Number;
            Number2 = "" + Number;
        }
        else
        {
            NumberList = "";
            Number2 = "";

        }
    }
    protected override async Task OnInitializedAsync()
    {
        LoadCount();
        PlaylistTime = Util.TimeFormat(await PlaylistService.GetDuration(Playlist!.Id));
    }

    protected override void OnParametersSet()
    {
        LoadCount();

    }

}
