﻿<div class="ranking-song">
    <div class="ranking-number @NumberList">@Number2</div>
    <div class="mysong-container-song  ranking-song-info">
        <a href="/song/@Song.Id" class="mysong-container-song-thumbnail">
            <img src="@Song.Thumbnail" />
        </a>
        <div class="mysong-container-song-title">
            @Song.Title
        </div>
        <div class="mysong-container-song-singer">@Song.Artist</div>
    </div>
    <div class="ranking-add ">
        <i @onclick=@SwitchActivePopup class="icon-background fal fa-plus  icon-add">
            @if (@ActiveAdd)
            {
                <PopupSongRanking Song=@Song OnClose=@SwitchActivePopup />
            }
        </i>
    </div>
    <div class="ranking-favorite ">@FavoriteCount <i class="icon-background fas fa-heart  icon-heart"></i></div>
    <div class="ranking-view "> @ViewCount <i class="icon-background fas fa-headphones icon-headphone"></i></div>
    <div class="ranking-time">@(Duration(Song.Duration))</div>
</div>

@code {
    [Parameter]
    public int? Number { get; set; }
    public string Number2 { get; set; } = "";
    [Parameter]
    public TopSong Song { get; set; } = null!;
    [Parameter]
    public int Type { get; set; }
    public string ViewCount { get; set; } = "";
    public string FavoriteCount { get; set; } = "";
    public string NumberList { get; set; } = "";
    public bool ActiveAdd = false;
    public void SwitchActivePopup()
    {
        ActiveAdd ^= true;
    }

    public void LoadCount()
    {
        if (Type == 1)
        {
            ViewCount = "" + Song.cnt;
            FavoriteCount = "";
        }
        if (Type == 2)
        {
            FavoriteCount = "" + Song.cnt;
            ViewCount = "";
        }

        if (Type == 3)
        {
            ViewCount = "" + Song.cnt;
            FavoriteCount = "";
        }
        if (Type == 4)
        {
            FavoriteCount = "" + Song.cnt;
            ViewCount = "";
        }


        if (Number >= 1 && Number <= 5)
        {
            NumberList = "top-" + Number;
            Number2 = "" + Number;
        }
        else
        {
            NumberList = "";
            Number2 = "";
        }
    }
    protected override void OnInitialized()
    {
         LoadCount();

    }

    protected override void OnParametersSet()
    {
         LoadCount();

    }


    public string Duration(int time)
    {
        return FavoriteService.SongDuration(time);
    }

}
