﻿@using Imagekit
@using MUZIC.App.Utility
@using MUZIC.App.Component.User.Home;

@if (Songs is not null)
{
    <CascadingValue Name="AddSongs" Value=@this>
        <div class="slide-container">
            <div class="heading-body">
                <p class="text-head-body" id="defaultSlide">@Text</p>
            </div>
            @if (Songs is not null)
        {
            @if ((Index == 10 && Songs.Count == 10) || (Songs.Count == 10 && OneSlide == true))
            {
                @if (OneSlide)
                {
                    <a class="prev2" onclick="plusSlides3(@SlideNumber)">
                        <i class="fas fa-chevron-circle-left fa-3x prev-icon"></i>
                    </a>
                    <a class="next2" onclick="plusSlides3(@SlideNumber)">
                        <i class="fas fa-chevron-circle-right fa-3x prev-icon"></i>
                    </a>
                }
                else
                {
                    <a class="prev2" onclick="plusSlides2(@SlideNumber)">
                        <i class="fas fa-chevron-circle-left fa-3x prev-icon"></i>
                    </a>
                    <a class="next2" onclick="plusSlides2(@SlideNumber)">
                        <i class="fas fa-chevron-circle-right fa-3x prev-icon"></i>
                    </a>
                }
            }
            <div class="row">
                @if ((Index == 10 && Songs.Count == 10) || (Songs.Count == 10 && OneSlide == true))
                {
                    @for (int i = 0; i < @Songs.Count; i++)
                    {
                        @if ((i % 10) < 5)
                        {
                            <SongSlideComponentSong Song=@Songs[i] />
                        }
                        else
                        {
                            <SongSlideComponentSong Song=@Songs[i] Display="none" />
                        }
                    }
                }
                else
                {
                    @if (Songs.Count <= 5)
                    {
                        @for (int i = 0; i < @Songs.Count; i++)
                        {
                            <SongSlideComponentSong Song=@Songs[i] />
                        }
                    }
                    else
                    {
                        @for (int i = 0; i < 5; i++)
                        {
                            <SongSlideComponentSong Song=@Songs[i] />
                        }
                    }

                }

            </div>
        }

    </div>
</CascadingValue>

}
else
{
    <p>Oops Something went wrong.....</p>
}

@code {
    [CascadingParameter(Name = "listSong")]
    public Index? ListSongs { get; set; } = null!;

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public List<Song>? Songs { get; set; } = null;

    [Parameter]
    public int Index { get; set; } = 0;

    [Parameter]
    public int SlideNumber { get; set; } = 1;

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public bool OneSlide { get; set; } = false;

}
