﻿@using MUZIC.App.Utility
@using Imagekit
@inject State state
@inject NavigationManager NavigationManager

<div class="song-item @EvenOrNot">
    @if (!SearchState)
    {
        <div class="song-item-tool tool1">
            <i class="fas fa-play fa-3x item-icon item-icon1" @onclick=@SwitchActivePopup></i>
            @if (@ActiveAdd)
            {
                <PlayPopupSong Song=@Song OnClose=@SwitchActivePopup />
            }
        </div>
    }

    <img src=@Util.GetImage(Song.Thumbnail!, new Transformation().Width(85).Height(85)) alt="" class="song-img" @onclick=@GoToSong />
    <div class="song-item-content" @onclick=@GoToSong>
        <h2 class="title">@Song.Title</h2>
        <h2 class="author">@Song.Artist</h2>
    </div>
    <div class="song-item-tool tool2">
        @if (state.Account is not null)
        {
            <i class="fal fa-list-music fa-3x item-icon item-icon-2" @onclick=@SwitchActivePlaylistPopup></i>
            @if (@ActivePlaylist)
            {
                <AddToPlaylistPopup Song=@Song OnClose=@SwitchActivePlaylistPopup />
            }
        }
        else
        {
            <i class="fas fa-plus fa-3x item-icon item-icon-2 heart-none-hover"></i>
        }
        @if (state.Account is not null)
        {
            <i class="@FavoriteIcon fa-heart fa-3x item-icon item-icon-2" @onclick=@SwitchFavoriteIcon></i>
        }
        else
        {
            <i class="@FavoriteIcon fa-heart fa-3x item-icon item-icon-2 heart-none-hover"></i>
        }

    </div>
    <div class="song-item-time">
        <p class="song-item-text">@Song.Duration</p>
    </div>
</div>




@code {
    [CascadingParameter(Name = "TabSongItem")]
    public TabSong TabSong { get; set; } = null!;

    [Parameter]
    public int Index { get; set; }

    [Parameter]
    public Song Song { get; set; } = null!;

    [Parameter]
    public bool SearchState { get; set; } = false;

    public bool ActiveAdd = false;

    public bool ActivePlaylist = false;

    public string? EvenOrNot = "";

    public string FavoriteIcon { get; set; } = "fal";

    public bool IsFavorite = false;

    protected override async Task OnInitializedAsync()
    {
        if (state.Account is not null)
        {
            await GetFavorite();
        }
        if ((Index + 2) % 2 == 0)
        {
            EvenOrNot = "";
        }
        else
        {
            EvenOrNot = "song-item-even";
        }

    }

    public void SwitchActivePopup()
    {
        ActiveAdd ^= true;
    }
    public void SwitchActivePlaylistPopup()
    {
        ActivePlaylist ^= true;
    }

    public async void SwitchFavoriteIcon()
    {
        if (IsFavorite)
        {
            FavoriteIcon = "fal";
            await FavoriteService.disableSong(state.Account!.Username, Song.Id);
        }
        else
        {
            FavoriteIcon = "fas";
            await FavoriteService.enableSong(state.Account!.Username, Song.Id);
        }
        IsFavorite ^= true;
    }

    private async Task GetFavorite()
    {
        bool? type = await FavoriteService.IsSongFavorited(state.Account!.Username, Song.Id);
        if (type == true)
        {
            IsFavorite = true;
            FavoriteIcon = "fas";
        }
        else if (type == false)
        {
            IsFavorite = false;
            FavoriteIcon = "fal";
        }
    }

    public void GoToSong()
    {
        NavigationManager.NavigateTo($"/song/{Song.Id}");
    }
}
