.navbar-flex {
    width: var(--nav-width);
    height: 100%;
    background-color: #16151a;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
}

.navbar-flex .nav-header {
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    margin-bottom: 20%;
    height: 7%;
}
.navbar-flex .nav-header #nav-img {
    flex: 1 0 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-flex .nav-header #nav-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    padding-top: 8%;
    padding-right: 20%;
}
.navbar-flex .nav-header #nav-title .nav-title-link {
    height: 100%;
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.navbar-flex .nav-header #nav-title .nav-title-link:hover {
    color: #f46530;
}

.navbar-flex .nav-header .nav-header-img {
    width: 22%;
    height: 55%;
}
.navbar-flex .nav-line {
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    margin-left: 5%;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 90%;
}
.navbar-flex .nav-link {
    font-size: 24px;
    font-weight: lighter;
    text-align: left;
    width: 100%;
    display: inline-block;
    color: #fff;
    background-color: rgb(255, 255, 255, 0);
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 15%;
    text-decoration: none;
}

.navbar-flex .nav-link:hover {
    color: #f46530;
}

.navbar-flex .nav-link .nav-link-icon {
    margin-right: 7%;
}
