.playlist {
    margin: 40px 100px;
    padding-top: 20px;
}

.playlist-section {
    margin-bottom: 40px;
}

.playlist-section .title {
    font-size: 30px;
    color: #f46530;
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.playlist-section .title::after {
    content: "";
    position: absolute;
    bottom: -3px; /*position the underline using left and bottom property*/
    left: -2px;
    right: -2px;
    border-bottom: 1px solid #ccc; /* adjust the underline width and color as you like*/
}

.playlist-main {
    display: flex;
    max-height: 500px;
    padding: 10px 20px;
    gap: 30px;
}

.playlist-thumbnail .playlist-img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}

.playlist-thumbnail .playlist-views {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.playlist-thumbnail .playlist-views-item {
    font-size: 16px;
}

.playlist-thumbnail .playlist-views-item span {
    margin-left: 4px;
}

.playlist-thumbnail .playlist-views-item i {
    color: #f46530;
}

.playlist-thumbnail .playlist-views-item i:hover {
    cursor: pointer;
    color: #fff;
}

.playlist-songs {
    flex: 1;
    overflow: auto;
}

.playlist-songs .playlist-songs-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-bottom: 12px;
    border-bottom: 1px solid #999;
    padding: 4px 12px;
}

.playlist-songs .playlist-songs-item:last-child {
    border-bottom: 0;
}

.playlist-songs .song-item-no {
    font-size: 30px;
    color: #f46530;
    text-align: center;
    line-height: 50px;
    flex-basis: 50px;
}

.playlist-songs .song-item-content {
    flex: 1;
}

.playlist-songs .song-item-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 4px;
}

.playlist-songs .song-item-singer {
    font-size: 16px;
    font-weight: 300;
}

.playlist-songs .song-item-btns {
    display: flex;
    gap: 20px;
}

.playlist-songs .song-item-btns-item i {
    color: #f46530;
}

.playlist-songs .song-item-btns-item i:hover {
    cursor: pointer;
    color: #fff;
}

.playlist-info {
    padding: 0 40px;
    font-size: 18px;
}

.playlist-info p {
    margin-bottom: 20px;
}

.playlist-info span {
    font-weight: bold;
    font-style: italic;
}

.other-playlist .other-playlist-item {
    display: flex;
    gap: 10px;
    margin: 10px;
    padding: 4px 12px;
    font-size: 20px;
}

.other-playlist .other-playlist-item:hover {
    cursor: pointer;
    color: #f46530;
}
