@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

:root {
  --background: #16151a;
  --orange: #f46530;
  --green: #25a56a;
  --lightWhite: #c0c0c0;
  --fontSize1: 36px;
  --fontSize2: 24px;
  --fontSize3: 22px;
  --lightGray: #222227;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #494d61;
}

.profile-container {
  width: 100%;
  height: 100%;
  max-height: auto;
  display: flex;
  padding: 20px;
  flex-direction: column;
  background-color: var(--background);
  color: white;
}

.profile-name {
  font-size: var(--fontSize1);
}

.profile-name,
.profile-tabs,
.tab-setting-inner {
  margin: 10px;
}

.profile-tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--lightWhite);
  border-radius: 10px;
  padding: 12px;
}

.user-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(2, 0.5fr);
  grid-row-gap: 10px;
  margin-right: 10%;
}

.user-img {
  grid-area: 1/1/3/2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 80%;
  border-radius: 10px;
  opacity: 0.8;
}

.user-img > .fa-user {
  font-size: var(--fontSize1);
  color: var(--orange);
}

.user-name {
  grid-area: 1/2/2/3;
  font-size: var(--fontSize2);
}

.user-muzic-id {
  grid-area: 2/2/3/3;
  font-size: var(--fontSize3);
  color: var(--lightWhite);
}

.tabs-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.mysong,
.myplaylist,
.setting,
.myfavorite,
.sign-out {
  cursor: pointer;
  font-size: var(--fontSize2);
  color: var(--lightWhite);
  padding: 25px 0;
  border-bottom: 2px solid transparent;
}

.mysong:hover,
.myplaylist:hover,
.setting:hover,
.myfavorite:hover,
.sign-out:hover {
  color: white;
}

.wall {
  width: 2px;
  height: 50px;
  background-color: var(--lightWhite);
  margin: 0 20px;
}

.sign-out {
  display: flex;
  flex-direction: row;
  margin-right: 30px;
  align-items: center;
}

.sign-out-inner {
  margin-right: 20px;
}

.tab-active {
  color: white;
  border-bottom: 2px solid var(--orange);
}

.tab-setting-inner {
  display: none;
  justify-content: space-between;
  margin-top: 20px;
}

.tab-inner-active {
  display: flex !important;
}

.profile-detail1,
.profile-detail2 {
  width: 50%;
  height: 500px;
  border: 1px solid var(--lightWhite);
  border-radius: 12px;
}

.profile-detail1 {
  margin-right: 20px;
}

.profile-detail2 {
  margin-left: 20px;
}

.profile-detail1,
.profile-detail2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.2fr repeat(4, 0.25fr) 0.5fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  font-size: var(--fontSize2);
  padding: 20px;
}

.profile-detail1-title,
.profile-detail2-title {
  grid-area: 1/1/2/3;
  font-weight: bold;
}

.profile-detail1-login-title,
.profile-detail2-old-password-title {
  grid-area: 2/1/3/2;
  font-size: var(--fontSize3);
  color: var(--lightWhite);
  margin-top: 20px;
}

.profile-detail1-login-content,
.profile-detail2-old-password-content {
  grid-area: 3/1/4/2;
}

.profile-detail1-email-title,
.profile-detail2-new-password-title {
  grid-area: 2/2/3/3;
  font-size: var(--fontSize3);
  color: var(--lightWhite);
  margin-top: 20px;
}

.profile-detail1-email-content,
.profile-detail2-new-password-content {
  grid-area: 3/2/4/3;
}

.profile-detail1-join-title,
.profile-detail2-confirm-title {
  grid-area: 4/1/5/2;
  font-size: var(--fontSize3);
  color: var(--lightWhite);
  margin-top: 20px;
}

.profile-detail1-join-content,
.profile-detail2-confirm-content {
  grid-area: 5/1/6/2;
}

.profile-detail1-display-title {
  grid-area: 4/2/5/3;
  font-size: var(--fontSize3);
  color: var(--lightWhite);
  margin-top: 20px;
}

.profile-detail1-display-content,
.profile-detail2-robot-content {
  grid-area: 5/2/6/3;
}

.profile-detail1-save,
.profile-detail2-save {
  grid-area: 6/1/7/3;
}

.profile-detail-background {
  background-color: var(--lightGray);
  border-radius: 12px;
  display: flex;
  align-items: center;
  height: 50px;
}

.profile-detail-background > .fal {
  margin: 0 20px;
}

.profile-detail1-save,
.profile-detail2-save {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-save {
  font-size: var(--fontSize2);
  background-color: var(--orange);
  color: white;
  width: 40%;
  height: 50px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.btn-save:hover,
.save-song:hover {
  opacity: 0.8;
}

.profile-detail1-input,
.profile-detail2-input {
  height: inherit;
  width: 90%;
  font-size: var(--fontSize2);
  border: none;
  background-color: transparent;
  color: white;
}

.profile-detail1-input:focus,
.profile-detail2-input:focus,
.mysong-search:focus,
.myfavorite-search:focus,
.myplaylist-search:focus,
.newplaylist-description-input:focus,
input[type=text]:focus {
  outline: none;
}

.check-robot {
  border: 1px solid transparent;
  cursor: pointer;
}

.tab-mysong-inner,
.tab-myfavorite-inner,
.tab-myplaylist-inner {
  display: none;
  flex-direction: column;
}

.tab-mysong-inner-header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px;
}

.profile-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  height: 50px;
  padding: 15px;
  background-color: var(--lightGray);
  border-radius: 12px;
}

.mysong-search,
.myfavorite-search,
.myplaylist-search {
  width: 90%;
  height: 50px;
  border: none;
  font-size: var(--fontSize2);
  background-color: transparent;
  color: white;
}

.fa-search {
  font-size: var(--fontSize2);
  color: var(--lightWhite);
  cursor: pointer;
}

.tab-mysong-inner-header-upload {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.btn-upload {
  color: white;
  background-color: var(--orange);
  border-radius: 10px;
  font-size: var(--fontSize2);
  width: 135px;
  height: 50px;
}

.mysong-upload {
  width: 135px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.tab-mysong-inner-list,
.tab-myfavorite-inner-list,
.tab-myplaylist-inner-list {
  margin: 0 10px;
  padding: 0 15px 15px 15px;
  border: 1px solid var(--lightWhite);
  border-radius: 10px;
}

.tab-mysong-titles,
.tab-myfavorite-titles,
.tab-myplaylist-titles {
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid var(--lightWhite);
  font-size: var(--fontSize2);
}

.myfavorite-container-songs,
.myfavorite-container-duration {
  flex-grow: 1;
}

.mysong-container-genre {
  padding-left: 5px;
}

.myplaylist-container-public {
  flex-grow: 1;
}

.tab-mysong-list,
.tab-myfavorite-list,
.tab-myplaylist-list {
  height: auto;
  max-height: 55vh;
  overflow-y: scroll;
}

.tab-mysong-list-song,
.tab-myfavorite-list-song,
.myfavorite-playlist-song,
.myplaylist-playlist-song,
.myplaylist-playlist-song-inner,
.tab-myplaylist-list-song {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: var(--fontSize2);
  margin-top: 5px;
  width: 100%;
}

.tab-mysong-list-song:nth-child(even),
.tab-myfavorite-list-song:nth-child(even) {
  background-color: var(--lightGray);
}

.myfavorite-playlist-songs {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.active-playlist-song {
  display: flex !important;
}

.myfavorite-playlist-song,
.myplaylist-playlist-song-inner {
  display: flex;
  background-color: var(--lightGray);
  width: 85%;
  border-radius: 8px;
  padding-left: 2.5%;
}

.playlist-song-song {
  flex-grow: 2;
}

.playlist-song-genre {
  flex-grow: 2;
  text-align: center;
}

.playlist-song-duration {
  flex-grow: 4;
  padding-right: 45px;
}

.tab-mysong-list-song:hover,
.tab-myfavorite-list-song:hover,
.tab-myplaylist-list-song:hover,
.myfavorite-playlist-song:hover,
.myplaylist-playlist-song-inner:hover {
  background-color: #545949;
}

.mysong-container-song,
.myfavorite-container-song,
.myplaylist-container-song,
.playlist-song-song {
  display: grid;
  grid-template-columns: 0.2fr 0.5fr;
  grid-template-rows: repeat(2, 0.25fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}

.mysong-container-song-thumbnail,
.myfavorite-container-song-thumbnail,
.playlist-song-thumbnail,
.myplaylist-container-song-thumbnail {
  grid-area: 1/1/3/2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.mysong-container-song-thumbnail > img,
.myfavorite-container-song-thumbnail > img,
.playlist-song-thumbnail > img,
.myplaylist-container-song-thumbnail > img {
  width: 88px;
  height: 85px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 6px;
}

.mysong-container-song-title,
.myfavorite-container-song-title,
.playlist-song-title,
.myplaylist-container-song-title {
  grid-area: 1/2/2/4;
}

.mysong-container-song-singer,
.myfavorite-container-song-singer,
.playlist-song-singer,
.myplaylist-container-song-singer {
  grid-area: 2/2/3/4;
  color: var(--lightWhite);
}

.icon-background {
  padding: 10px;
  width: 40px;
  height: 40px;
  background-color: rgba(244, 101, 48, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  cursor: pointer;
}

.icon-background:hover {
  opacity: 0.8;
}

.fa-lock,
.fa-trash {
  color: var(--orange);
  opacity: 1;
}

.icon-edit {
  background-color: rgba(255, 255, 255, 0.3);
}

.icon-delete,
.icon-delete3 {
  margin-left: 10px;
}

.icon-public-active {
  background-color: rgba(67, 133, 86, 0.3);
}

.fa-unlock {
  color: var(--green);
  opacity: 1;
}

.mysong-container-no,
.mysong-container-genre,
.mysong-container-date,
.mysong-container-tool,
.myfavorite-container-no,
.myfavorite-container-genre,
.myfavorite-container-date,
.myfavorite-container-date-pl,
.myfavorite-container-tool,
.myfavorite-container-tool-pl,
.myplaylist-container-public,
.myplaylist-container-tool {
  display: flex;
  height: 80px;
  align-items: center;
}

.myfavorite-container-tool-pl {
  justify-content: space-around;
}

.tab-mysong-title:nth-child(1),
.mysong-container-no,
.tab-mysong-title:nth-child(5),
.mysong-container-public {
  width: 10%;
}

.tab-mysong-title:nth-child(3),
.mysong-container-genre {
  width: 15%;
}

.tab-mysong-title:nth-child(4),
.mysong-container-date,
.tab-mysong-title:nth-child(6),
.mysong-container-tool {
  width: 15%;
}

.tab-mysong-title:nth-child(2),
.mysong-container-song {
  width: 35%;
}

.tab-mysong-title:nth-child(1),
.mysong-container-no,
.tab-mysong-title:nth-child(3),
.mysong-container-genre,
.tab-mysong-title:nth-child(4),
.mysong-container-date,
.tab-mysong-title:nth-child(5),
.mysong-container-public,
.tab-mysong-title:nth-child(6),
.mysong-container-tool,
.tab-myfavorite-title:nth-child(1),
.myfavorite-container-no,
.tab-myfavorite-title-pl:nth-child(1),
.tab-myfavorite-title:nth-child(3),
.tab-myfavorite-title-pl:nth-child(3),
.myfavorite-container-songs-pl,
.myfavorite-container-genre,
.tab-myfavorite-title:nth-child(4),
.tab-myfavorite-title-pl:nth-child(4),
.myfavorite-container-date,
.myfavorite-container-duration-pl,
.myfavorite-container-date-pl,
.tab-myfavorite-title:nth-child(5),
.tab-myfavorite-title-pl:nth-child(5),
.myfavorite-container-tool {
  display: flex;
  justify-content: center;
}

.tab-myfavorite-title:nth-child(1),
.tab-myfavorite-title-pl:nth-child(1),
.myfavorite-container-no {
  width: 10%;
}

.tab-myfavorite-title:nth-child(2),
.tab-myfavorite-title-pl:nth-child(2),
.myfavorite-container-song {
  width: 30%;
}

.tab-myfavorite-title:nth-child(3),
.myfavorite-container-genre,
.tab-myfavorite-title:nth-child(4),
.myfavorite-container-date,
.tab-myfavorite-title:nth-child(5),
.myfavorite-container-tool {
  width: 20%;
}

.tab-myfavorite-title-pl:nth-child(3),
.myfavorite-container-songs-pl,
.tab-myfavorite-title-pl:nth-child(4),
.myfavorite-container-duration-pl,
.tab-myfavorite-title-pl:nth-child(5),
.myfavorite-container-date-pl,
.tab-myfavorite-title-pl:nth-child(6),
.myfavorite-container-tool-pl {
  width: 15%;
}

.active-popup {
  display: flex !important;
}

.edit-container,
.upload-container {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(50, 50, 50, 0.8);
}

.popup-edit,
.popup-upload {
  width: 1182px;
  height: 840px;
  border-radius: 12px;
  background-color: var(--background);
}

.popup-edit-header,
.popup-upload-header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  font-size: var(--fontSize1);
}

.popup-edit-info,
.popup-upload-info {
  width: 100%;
  height: 300px;
  position: relative;
}

.popup-edit-info-upload-bg,
.popup-upload-info-upload-bg {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-img-bg {
  width: 1182px;
  height: 300px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.image-background {
  width: 1182px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.popup-edit-info-upload-avt-container,
.popup-upload-info-upload-avt-container {
  position: absolute;
  top: 70px;
  left: 50px;
  display: flex;
  align-items: center;
}

.popup-edit-info-upload-avt,
.popup-upload-info-upload-avt {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.edit-info-content,
.upload-info-content {
  margin-left: 20px;
}

.edit-info-content input[type=text],
.upload-info-content input[type=text] {
  width: 500px;
  height: 40px;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

.edit-info-title,
.upload-info-title {
  font-size: var(--fontSize1);
}

.edit-info-singer,
.upload-info-singer {
  font-size: var(--fontSize2);
  color: var(--lightWhite);
}

.upload-img-avt {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.image-avatar {
  border-radius: 6px;
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.popup-edit-lyrics,
.popup-edit-description,
.popup-upload-lyrics,
.popup-upload-description {
  width: 100%;
  height: 200px;
  padding: 20px;
}

.popup-edit-description-lyrics,
.popup-edit-description-title,
.popup-upload-description-lyrics,
.popup-upload-description-title {
  font-size: var(--fontSize3);
  color: var(--lightWhite);
}

.popup-edit-lyrics-content,
.popup-edit-description-content,
.popup-upload-lyrics-content,
.popup-upload-description-content {
  width: 100%;
  height: 90%;
  border-radius: 12px;
  padding: 5px 10px;
  margin-top: 5px;
  color: white;
  background-color: var(--lightGray);
  font-size: var(--fontSize2);
  resize: none;
  border: none;
}

.popup-edit-lyrics-content:focus,
.popup-edit-description-content:focus,
.popup-upload-lyrics-content:focus,
.popup-upload-description-content:focus {
  outline: none;
}

.popup-edit-save,
.popup-upload-save {
  padding: 10px 20px;
}

.save-song {
  width: 100%;
  padding: 8px;
  color: white;
  background-color: var(--orange);
  font-size: var(--fontSize2);
  border-radius: 10px;
  cursor: pointer;
}

.exit-button,
.exit-button-mpl {
  cursor: pointer;
}

input[type=text] {
  border: none;
}

.tab-myplaylist-inner-newplaylist {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--lightWhite);
  border-radius: 10px;
  margin: 0px 10px 20px 10px;
  padding: 0px 15px 15px;
  height: auto;
}

.newplaylist-thumbnail-title {
  display: flex;
  padding: 15px;
}

.newplaylist-thumbnail-inputfile {
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 280px;
  background-color: var(--lightGray);
  font-size: var(--fontSize2);
  padding-left: 15px;
  margin-top: 10px;
  border-radius: 10px;
}

.newplaylist-thumbnail-input {
  position: absolute;
  height: 50px;
  width: 280px;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.newplaylist-title {
  margin-left: 50px;
  flex-grow: 1;
}

.newplaylist-title-inputtext {
  height: 50px;
  width: 100%;
  background-color: var(--lightGray);
  border-radius: 10px;
  padding-left: 15px;
  margin-top: 10px;
}

.newplaylist-title-input {
  width: 95%;
  height: 100%;
  background-color: transparent;
  color: white;
  font-size: var(--fontSize2);
}

.newplaylist-description,
.newplaylist-addsong {
  padding: 15px;
}

.newplaylist-description-input {
  margin-top: 10px;
  width: 100%;
  height: 90px;
  border: none;
  border-radius: 10px;
  background-color: var(--lightGray);
  padding: 10px;
  color: white;
  font-size: var(--fontSize2);
  resize: none;
}

.newplaylist-addsong-container {
  width: 100%;
  height: 330px;
  background-color: var(--lightGray);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  overflow-y: scroll;
}

.myplaylist-playlist-song {
  padding: 0px 30px;
}

.check-addsong {
  cursor: pointer;
}

.newplaylist-create {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.btn-create-newplaylist {
  width: 30%;
  height: 50px;
  border-radius: 12px;
  background: var(--orange);
  font-size: var(--fontSize2);
  color: white;
  border: none;
  cursor: pointer;
}

.btn-create-newplaylist:hover {
  opacity: 0.8;
}

.icon-playlist-more2 {
  font-size: var(--fontSize1);
  color: var(--orange);
  width: 40%;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
}

.newplaylist-thumbnail-label,
.newplaylist-title-label,
.newplaylist-description-label,
.newplaylist-addsong-label {
  font-size: var(--fontSize3);
  color: var(--lightWhite);
}

.tab-myplaylist-title:nth-child(1),
.myplaylist-container-no,
.tab-myplaylist-title:nth-child(3),
.myplaylist-container-songs,
.tab-myplaylist-title:nth-child(4),
.myplaylist-container-duration,
.tab-myplaylist-title:nth-child(6) {
  width: 10%;
}

.tab-myplaylist-title:nth-child(2),
.myplaylist-container-song {
  width: 30%;
}

.tab-myplaylist-title:nth-child(5),
.myplaylist-container-date,
.tab-myplaylist-title:nth-child(7),
.myplaylist-container-tool {
  width: 15%;
}

.tab-myplaylist-title:nth-child(1),
.myplaylist-container-no,
.tab-myplaylist-title:nth-child(3),
.myplaylist-container-songs,
.tab-myplaylist-title:nth-child(4),
.myplaylist-container-duration,
.tab-myplaylist-title:nth-child(5),
.myplaylist-container-date,
.tab-myplaylist-title:nth-child(6),
.mysong-container-public {
  display: flex;
  justify-content: center;
}

.tab-myplaylist-titles,
.tab-mysong-titles,
.tab-myfavorite-titles {
  padding-right: 10px;
}

.myplaylist-song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myplaylist-playlist-song-inner {
  padding-left: 2.4%;
}

.fa-minus {
  padding: 10px 50px 10px 10px;
  font-size: var(--fontSize2);
  color: var(--orange);
  cursor: pointer;
}

.playlist-song-duration-mpl {
  flex-grow: 4;
  padding-right: 90px;
}

.myplaylist-playlist-song-container {
  display: none;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.tab-myfavorite-inner-header,
.tab-myplaylist-inner-header {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin: 20px 10px;
}

.tab-myfavorite-inner-list-title,
.tab-myfavorite-inner-list-title2,
.tab-myplaylist-inner-list-title {
  margin: 20px 10px;
  font-size: var(--fontSize1);
}

.tab-myfavorite-inner-list-title2 {
  margin-top: 40px;
}

.icon-playlist-more {
  font-size: var(--fontSize1);
  color: var(--orange);
  width: 40%;
  cursor: pointer;
  text-align: center;
}