﻿@using MUZIC.App.Utility
<tr>
    <td class="card-container">
        <div class="card-image-container" >
            <img class="card-image card-avatar" src=@Util.GetImage(Account.Avatar, new Imagekit.Transformation().Width(44).Height(44))/> 
        </div>
        <div class="card-info" >
            <div class="card-name">
                @Account.DisplayName
            </div>
            <div class="card-desc">
                ID: @Account.Username
            </div>
        </div> 
    </td>
    <td>
        <div class="card-info">
            <div class="card-name">
                @Account.Email
            </div>
            <div class="card-desc">
                on @Account.Date
            </div>
        </div> 
    </td>
    <td>
        <div class="card-info">
            <div class="card-name">
                @cnt_song
            </div>
            <div class="card-desc">
                last at @last_date
            </div>
        </div> 
    </td>
    <td>
        <div class="status-@(Account.Status == 0 ? "normal" : (Account.Status == 1 ? "cautios" : "ban")) status-pill"></div>
    </td>
    <td>
        <div class="list">
            <a class="toggler" href="javascript:void(0);">
                <i class="fal fa-ellipsis-v"></i>
            </a>
            <ul class="list-data">
                <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(0)">Normal</li>
                </a>
                <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(1)">Cautios</li>
                </a>
                <a href="javascript:void(0);">
                    <li class="list-item" @onclick="async () => await ChangeStatus(2)">Ban</li>
                </a>
            </ul>
        </div>
    </td>
</tr>

@code {
    [Parameter]
    public Account Account { get; set; } = null!;
    int cnt_song;
    string last_date;

    public async Task ChangeStatus(int status)
    {
        if (Account.Status == status) return;
        await AdminService.UpdateAccountStatus(Account.Username, status);
        Account.Status = status;
    }

    protected override async Task OnInitializedAsync()
    {
        var data = await AdminService.GetUseruploadinfo(Account.Username);
        cnt_song = data.cnt_song;
        last_date = data.last_date;
        if (cnt_song == 0) last_date = Account.Date.ToString("dd.MM.yyyy");
    }
}