﻿@inject State state

<div class="popup-play-content-item" @onclick="() => ActionSong()">
    <div class="popup-play-content-item-icon">
        <i class="far @Icon @IconSize"></i>
    </div>
    <div class="popup-play-content-item-text">
        <p class="popup-play-content-item-text-p">@Playlist.Title</p>
    </div>
</div>

@code {
    [Parameter]
    public Song Song { get; set; } = null!;

    [Parameter]
    public Playlist Playlist { get; set; } = null!;

    [Parameter]
    public string IconSize { get; set; } = "fa-2x";

    public string Icon { get; set; } = "fa-square";

    public List<Song> ListSong { get; set; } = new List<Song>();


    protected override async Task OnInitializedAsync()
    {
        if (state.Account != null)
        {
            await LoadListSong();
            if (ListSong.SingleOrDefault(e => e.Id == Song.Id) != null)
            {
                Icon = "fa-check-square";
            }
            else
            {
                Icon = "fa-square";
            }
        }
    }

    public async Task LoadListSong()
    {
        ListSong = await PlaylistService.GetSongs(Playlist.Id);
    }

    public async Task ActionSong()
    {
        if (Icon == "fa-check-square")
        {
            await DisableSongToPlaylist();
            Icon = "fa-square";
        }
        else
        {
            await AddSongToPlaylist();
            Icon = "fa-check-square";
        }
    }

    public async Task AddSongToPlaylist()
    {
        await PlaylistService.InsertSong(Playlist, Song);
    }

    public async Task DisableSongToPlaylist()
    {
        await PlaylistService.DeletePlaylistSong(Playlist.Id, Song.Id);
    }
}
