﻿@using MUZIC.App.Component.User.Home
@inject State state

<div class="popup-playlist-content">
    <div class="popup-play-content-item-heading">
        <div class="popup-play-content-item-text">
            <p class="popup-play-content-item-text-p">Add to playlist</p>
        </div>
    </div>
    @if (ListPlaylist is not null)
    {
        @for (var i = 0; i < ListPlaylist.Count; i++)
        {
            <AddToPlaylistPopupItem Song=@Song Playlist=@ListPlaylist[i] IconSize=@IconSize />
        }
    }
    else
    {
        <div class="popup-play-content-item">
            <div class="popup-play-content-item-icon">
                <i class="far fa-list-music"></i>
            </div>
            <div class="popup-play-content-item-text">
                <p class="popup-play-content-item-text-p">You don't have any playlist</p>
            </div>
        </div>
    }
</div>
<div class="popup-play-background" @onclick=OnClose></div>


@code {

    [Parameter]
    public Song Song { get; set; } = null!;

    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public string IconSize { get; set; } = "fa-2x";

    public List<Playlist>? ListPlaylist = new List<Playlist>();

    protected override async Task OnInitializedAsync()
    {
        if (state.Account != null)
        {
            await LoadListPlaylist();
        }
    }

    public async Task LoadListPlaylist()
    {
        ListPlaylist = await PlaylistService.GetCollection(state.Account!.Username);
    }
}

