﻿@using MUZIC.App.Component.User.Home
@using MUZIC.App.Pages.User
@inject State state
@inject Mp3 mp3

<li class="playlist-songs-item">
    <h2 class="song-item-no">@Index</h2>
    <img class="song-item-img" src="@Song.Thumbnail" alt="Song thumbnail">
    <div class="song-item-content">
        <h2 class="song-item-title">
            @Song.Title
        </h2>
        <h3 class="song-item-singer">
            @Song.Artist
        </h3>
    </div>
    <ul class="song-item-btns">
        <li class="song-item-btns-item">
            <i @onclick="SwitchActivePopup" class="fal fa-play"></i>
            @if (PopUp)
            {
                <PlayPopupSong Song=@Song OnClose=@SwitchActivePopup IconSize="fa-1x" />
            }
        </li>
        <li @onclick="ToggleFavorite" class="song-item-btns-item">
            <i class="@favoriteIcon fa-heart"></i>
        </li>
        <li class="song-item-btns-item">
            <i @onclick="SwitchActivePlaylistPopup" class="fal fa-list-music"></i>
            @if (@AddToPlaylistPopup)
            {
                <AddToPlaylistPopup Song=@Song OnClose=@SwitchActivePlaylistPopup IconSize="fa-1x" />
            }
        </li>
        <li class="song-item-btns-item last-child">
            @FavoriteService.SongDuration(Song.Duration)
        </li>
    </ul>
</li>

@code {
    [CascadingParameter(Name = "playlistPage")]
    public PlaylistPage PlaylistPage { get; set; } = null!;

    [Parameter]
    public Song Song { get; set; } = null!;

    [Parameter]
    public int Index { get; set; }

    public string favoriteIcon { get; set; } = "fal";
    public bool IsFavorite = false;

    // Add song to playlist
    public bool AddToPlaylistPopup = false;

    public bool PopUp = false;

    public void SwitchActivePopup()
    {
        PopUp ^= true;
    }

    public void SetViewFavorite()
    {
        favoriteIcon = IsFavorite ? "fas" : "fal";
    }

    public async Task ToggleFavorite()
    {
        if (state.Account is not null)
        {
            if (IsFavorite)
            {
                IsFavorite = await FavoriteService.disableSong(state.Account.Username, Song!.Id);
            }
            else
            {
                IsFavorite = await FavoriteService.enableSong(state.Account.Username, Song!.Id);
            }
            SetViewFavorite();
            PlaylistPage.LoadNew();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        if (Song.Id > 0)
        {
            if (state.Account is not null)
            {
                IsFavorite = await GetFavorite();
                SetViewFavorite();
            }
        }
    }

    private async Task<bool> GetFavorite()
    {
        return await FavoriteService.IsSongFavorited(state.Account!.Username, Song!.Id);
    }

    // Add song to playlist
    public void SwitchActivePlaylistPopup()
    {
        AddToPlaylistPopup ^= true;
    }
}